<div class="preloader {{ hidden ? 'hidden d-none' }}" id="preloader">
	<div class="preloader__wrapper">
		<div class="preloader__circle">
			<div class="preloader__counter">
				<div data-preloader-counter-number>0</div>
				<div data-preloader-counter-number>18%</div>
				<div data-preloader-counter-number>25%</div>
				<div data-preloader-counter-number>50%</div>
				<div data-preloader-counter-number>75%</div>
				<div data-preloader-counter-number>100%</div>
			</div>
			<svg width="145" height="145" viewBox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="72.5" cy="72.5" r="61.5" stroke="white" stroke-width="22"/>
			</svg>
		</div>
	</div>
</div>
