<div class="hero-404">
	{% view	'^hero-top-bar' %}
    <div class="hero-404__inner wrap-r-1 wrap-l-1">
        <div class="hero-404__content">
            {% if intro.heading %}
			<div class="hero-404__heading" data-animate>
				<h1 class="{{ intro.heading_style ?: 'h2' }}">{{ intro.heading|raw }}</h1>
			</div>
			{% endif %}
			{% if intro.text %}
				<div class="hero-404__text">{{ intro.text|raw }}</div>
			{% endif %}
			{% if intro.actions %}
				<div class="hero-404__actions">
					{% for action in intro.actions %}
						{% view '@button' with {
							button: action
						} %}
					{% endfor %}</div>
			{% endif %}
        </div>
		<div class="hero-404__image">
			<span>4</span>
			{% view '@image' with {
				image: intro.image
			}%}
			<span>4</span>
		</div>
    </div>
</div>
