<div class="input-shell">
	<input type="{{ field.type?: 'text' }}" {% if field.id %}id="{{ field.id }}"{% endif %}
		   name="{{ field.name }}"
		   class="input input--{{ field.size ?: 'default' }} input--{{ field.theme ?: 'white' }}{% if field.class %} {{ field.class }}{% endif %}"
		{% if field.placeholder %} placeholder="{{ field.placeholder }}"{% endif %}
		{% if not field.type == 'tel' or not field.type == 'email' %}
			{% if field.pattern %} pattern="{{ field.pattern }}"{% endif %}
		{% endif %}
		{% if field.tel %} data-mask-tel{% endif %}
		{% if field.type == 'email' %} data-parsley-trigger="change" data-mask-email{% endif %}
		{% if field.required %} required{% endif %}
		{% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}
		{% if field.readonly %} readonly{% endif %}
		{% if field.disabled %} disabled{% endif %}
		{% if field.value %} value="{{ field.value }}"{% endif %}
		{% if field.minlength %} data-parsley-minlength="{{ field.minlength }}" data-parsley-trigger="change"{% endif %}
		{% if field.maxlength %} data-parsley-maxlength="{{ field.maxlength }}" data-parsley-trigger="change"{% endif %}
		{% if field.attr %} {{ field.attr }}{% endif %}>
	{% if field.hint %}
		<div class="input-hint">
			{% view '@hint' with {
				hint: field.hint
			} %}
		</div>
	{% endif %}
	{% if field.tel %}
		<div class="iti-error-msg"></div>
	{% endif %}
	<div class="input-status">!</div>
</div>
