.feature-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	$root: &;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: rem(48);

			@include media-breakpoint-up(md) {
				margin-bottom: rem(80);
			}

			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
			padding: 0 $col-1-of-24;

			&:nth-child(n+3) {
				margin-top: rem(64);
			}
		}
	}

	&--layout-2 {
		@include media-breakpoint-up(lg) {
			margin-right: rem(-60);
		}

		#{$root}__item {
			@include media-breakpoint-up(lg) {
				width: 33.33%;

				&:nth-child(n+3) {
					margin-top: 0;
				}

				&:nth-child(n+4) {
					margin-top: rem(64);
				}
			}
		}
	}
}
