<div class="card-story-list">
	{% for card in card_story_list.items %}
		<div class="card-story-shell" data-viewport-trigger>
			<div class="card-animation-shell" data-animate="fade-in-up">
				{% view '^card-story'  with {
					card: card|merge({
						animate: "fade-in-up"
					})
				} %}
			</div>
		</div>
	{% endfor %}
</div>
