<div class="vacancy-info">
	<div class="vacancy-info__wrap wrap-l-1 wrap-r-1">
		<div class="vacancy-info__inner">

			<div class="vacancy-info__list" data-animate>
				{% for item in vacancy_info.items %}
					<div class="vacancy-info__el" data-animate-delay="{{ loop.index }}">
						<div class="vacancy-info__category text-label">{{ item.category }}</div>
						<div class="vacancy-info__text h5">{{ item.text }}</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
</div>
