.vacancy-info {
	&__wrap {
		padding-top: rem(96);
		padding-bottom: rem(96);
		background-color: $color-white;

		@include media-breakpoint-down(md) {
			padding-top: rem(80);
			padding-bottom: rem(80);
		}

		@include media-breakpoint-down(sm) {
			padding-top: rem(56);
			padding-bottom: rem(56);
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 35% 40% 25%;
		grid-template-rows: 1fr auto;
		gap: 0px 0px;
		grid-template-areas: "unit category graph" "city type exp";

		@include media-breakpoint-down(md) {
			grid-template-rows: auto auto auto;
			grid-template-columns: rem(380) auto;
			grid-template-areas: "unit type" "city graph" "category exp";
		}

		@include media-breakpoint-down(sm) {
			display: block;
		}
	}

	&__el {
		margin-bottom: rem(64);
		opacity: 0;
		transform: translateY(rem(40));
		transition: opacity 2s, transform 2s;
		transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		@for $i from 1 through 10 {
			&[data-animate-delay="#{$i}"] {
				transition-delay: #{$i * 0.3}s !important;
			}
		}

		&.animate {
			opacity: 1;
			transform: translateY(0);
		}

		@include media-breakpoint-up(lg) {
			&:nth-child(2n) {
				margin-bottom: 0;
			}
		}

		@include media-breakpoint-up(md) {
			&:nth-child(3n + 3) {
				margin-bottom: rem(16);
			}
		}

		@include media-breakpoint-up(lg) {
			padding-right: rem(48);
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: rem(32);

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:nth-child(1) {
			grid-area: unit;
		}

		&:nth-child(2) {
			grid-area: city;
		}

		&:nth-child(3) {
			grid-area: category;
		}

		&:nth-child(4) {
			grid-area: type;
		}

		&:nth-child(5) {
			grid-area: graph;
		}

		&:nth-child(6) {
			grid-area: exp;
		}
	}

	&__category {
		margin-bottom: rem(8);
		color: $color-dim-gray;
	}

	&__text {
		line-height: rem(32);

		@include media-breakpoint-only(md) {
			max-width: rem(320);
		}

		@include media-breakpoint-down(sm) {
			line-height: rem(24);
		}
	}
}
