.image-stab {
	width: 100%;
	height: 100%;
	background-color: $color-dim-gray;
	display: flex;
	align-items: center;
	justify-content: center;

	&__icon {
		@include defaultTransition(transform);
	}
}
