.button-major-group {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@include media-breakpoint-down(md) {
		.button-major-shell {
			width: 100%;
			padding: 1px 0;
		}
	}

	@include media-breakpoint-only(md) {
		.button-major {
			padding-left: $col-4-of-24;
		}
	}

	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}

	&--layout-1 {
		width: 100%;

		.button-major-shell {
			width: 100%;
			@include media-breakpoint-only(md) {
				.button-major {
					padding-left: $col-4-of-24;
				}
			}
			@include media-breakpoint-up(lg) {
				flex: 1 1 auto;
				width: $col-7-of-24;

				&:not(:first-child) {
					border-left: 2px solid $color-orange-middle;
				}

				&:nth-child(3n + 1) {
					width: calc(100vw / 24 * 10);

					.button-major {
						padding-left: $col-4-of-24;
					}
				}
			}
		}
	}

	&--layout-2 {
		width: 100%;
		justify-content: flex-start;

		.button-major-shell {
			width: 100%;

			@include media-breakpoint-up(lg) {
				flex: 0 1 auto;
				width: $col-7-of-24;

				&:not(:first-child) {
					border-left: 2px solid $color-orange-middle;
				}

				&:first-child {
					margin-left: auto;
				}
			}
		}
	}
}
