<span class="hint{% if hint.mark.theme %} is-{{ hint.mark.theme }}{% endif %}"
	  data-tippy-content="{{ hint.tooltip.content }}"
	  data-tippy-placement="{{ hint.tooltip.placement?: 'bottom' }}"
	  data-tippy-theme="tooltip-{{ hint.tooltip.theme?: 'white' }}"
>{{ hint.mark.text|raw }}</span>
