/* Grid */

.grid::before {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	pointer-events: none;

	--grid-color: rgba(255,0,0,0.05);
	--grid-sides: 0;
	--grid-gutter: 1px;
	--grid-columns: 12;
	--grid-column-width: calc(
		(100% - var(--grid-gutter) * var(--grid-columns)) / var(--grid-columns)
	);

	border: solid transparent;
	border-width: 0 0 0 1px;
	//border-width: 0 calc(
	//	var(--grid-sides) - var(--grid-gutter) / 2
	//);

	background-image: repeating-linear-gradient(
			to right,
			transparent 0,
			transparent calc(var(--grid-gutter) / 2),
			var(--grid-color) calc(var(--grid-gutter) / 2),
			var(--grid-color) calc(var(--grid-column-width) + var(--grid-gutter) / 2),
			transparent calc(var(--grid-column-width) + var(--grid-gutter) / 2),
			transparent calc(var(--grid-column-width) + var(--grid-gutter))
	);

	background-repeat: no-repeat;

	@include media-breakpoint-up(md) {
		--grid-columns: 24;
	}
}
