.diagram-bar-layout {
	&__wrap {
		display: flex;
		margin-right: rem(-60);
		margin-left: rem(-60);

		@include media-breakpoint-down(md) {
			display: block;
			margin-right: 0;
			margin-left: 0;
		}
	}

	.diagram-bar {
		display: inline-block;
		max-width: 50%;
		width: 50%;
		padding-left: rem(60);
		padding-right: rem(60);

		&:not(:last-child) {
			margin-bottom: 0;
		}

		@include media-breakpoint-down(md) {
			max-width: 100%;
			width: 100%;
			padding-left: 0;
			padding-right: 0;

			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}

		&__heading {
			margin-bottom: rem(64);
			@include h3();

			@include media-breakpoint-down(md) {
				margin-bottom: rem(32);
			}
		}
	}
}
