<section class="slider-directions" data-slider-directions-wrap data-viewport-trigger {{ slider_directions.attr }}>

	<div class="slider-directions__head">
		{% if slider_directions.heading %}
			<h2 class="slider-directions__heading h2" data-animate="clip">{{ slider_directions.heading|raw }}</h2>
		{% endif %}

		<div class="slider-directions__nav" data-animate="fade-in-up">
			{% view '@nav-arrows' with {
				"nav_arrows": {
					"theme": "border-dark",
					"hover": "white"
				}
			} %}
		</div>
	</div>

	<div class="slider-directions__container swiper-container" data-slider-directions data-animate="fade-in-up">
		<div class="swiper-wrapper">
			{% set lenght_lg = slider_directions.items|length / 2 %}
			{% set lenght_md = slider_directions.items|length / 3 %}
			{% for card in slider_directions.items %}
				<div class="swiper-slide" {{ card.attr }}>
					<div class="slider-directions__card"
						{% if loop.index < lenght_lg %} data-animate-delay-lg="1"{% else %} data-animate-delay-lg="2"{% endif %}
						{% if loop.index < lenght_md + 1 %} data-animate-delay-md="1"{% elseif loop.index < lenght_md * 2 + 1 %} data-animate-delay-md="2"{% else %} data-animate-delay-md="3"{% endif %}>
						{% view '^card-direction' with card %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</section>
