<div class="card-feature bg-white">
	{% if card.href %}
		<a class="card-feature__link" href="{{ card.href }}"></a>
	{% endif %}
	<div class="card-feature__inner">
		<div class="card-feature__top">
			{% if card.icon %}
				<div class="card-feature__icon">
					{% view '@icon' with {
						icon: card.icon
					} %}
				</div>
			{% endif %}
			{% if card.heading %}
				<h3 class="card-feature__head h3">{{ card.heading }}</h3>
			{% endif %}
		</div>
		<div class="card-feature__bottom">
			{% if card.list %}
				<ul class="card-feature__list">
					{% for item in card.list %}
						<li class="card-feature__list-item">
						<span class="card-feature__list-item-icon">
							{% svg '24/check' %}
						</span>
							<span class="card-feature__list-item-text">{{ item }}</span>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
</div>
