.field {
	position: relative;
	@at-root .filter-search & {
		height: 100%;
	}

	&--hidden {
		@include visually-hidden;
		flex-grow: 0;
	}
}

.control {
	@at-root .filter-search & {
		height: 100%;
	}
}

.text-help {
	@include text-small;
	color: $color-error;

	@include media-breakpoint-only(sm) {
		margin-top: rem(8);
	}

	@include media-breakpoint-up(md) {
		position: absolute;
		top: calc(100% + #{rem(8)});
		left: 0;
	}
}
