<div class="user-content-story__outward">
	<div class="story-media" data-viewport-trigger>
		<div class="story-media__content" data-animate="clip">
			{% if story_media.image %}
				{% view '@image-adaptive' with {
					image_adaptive: story_media.image
				} %}
			{% endif %}
			{% if story_media.video %}
				{% view '&video' with {
					video: story_media.video
				}%}
			{% endif %}
		</div>
		<div class="story-media__caption">
			{% if story_media.heading %}
				<div class="story-media__caption-heading">{{ story_media.heading|raw }}</div>
			{% endif %}
			{% if story_media.text %}
				<div class="story-media__caption-text">{{ story_media.text|raw }}</div>
			{% endif %}
		</div>
	</div>
</div>
