.story-media {
	&__content {
		@include animate-image();

		@include media-breakpoint-down(sm) {
			height: rem(240);
		}

		.image {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-size: cover;
		}
	}

	&__caption {
		display: flex;
		background-color: $color-white;

		@include media-breakpoint-down(md) {
			flex-direction: column;
			padding-top: rem(32);
			padding-bottom: rem(32);
		}

		@include media-breakpoint-only(sm) {
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}

		@include media-breakpoint-only(md) {
			padding-left: $col-1-of-24;
			padding-right: 40%;
		}

		@include media-breakpoint-up(lg) {
			padding: rem(56);
			padding-left: $col-2-of-24;
			padding-right: $col-2-of-24;
		}

		&-heading {
			@include media-breakpoint-up(lg) {
				width: 53%;
			}
		}

		&-text {
			padding-left: rem(62);
			color: $color-gray;

			@include media-breakpoint-down(md) {
				margin-top: rem(16);
				padding-left: 0;
			}
		}
	}
}
