<div class="filter-result">
	<div class="filter-result__top">

		<div class="filter-result__title h4">{{ filter_result.title }}</div>

		<div class="filter-result__sort">
			{% view '^field' with {
				field: filter_result.sort
			} %}
		</div>

	</div>

	<div class="filter-result__container">
		{% for item in filter_result.result.items %}
			<div class="filter-result-card">
				<div class="filter-result-card__inner">

					<div class="filter-result-card__tags">
						{% for tag in item.tags %}
							<div class="filter-result-card__tag">{{ tag }}</div>
						{% endfor %}
					</div>

					<div class="filter-result-card__content">

						<div class="filter-result-card__head">
							<a class="filter-result-card__title h5" href="{{ item.href }}">{{ item.title }}</a>
							<div class="filter-result-card__salary h5">{{ item.salary }}</div>
						</div>

						<div class="filter-result-card__info">
							<div class="filter-result-card__desc">{{ item.desc }}</div>
							<div class="filter-result-card__category">{{ item.category }}</div>
						</div>

						<div class="filter-result-card__date">{{ item.date }}</div>
					</div>

				</div>
				<a href="{{ item.href }}" class="filter-result-card__link"></a>
			</div>
		{% else %}
			{{ filter_result.result.empty_result_text }}
		{% endfor %}
	</div>

	<div class="filter-result__more" data-animate>
		{% view '&pagination-layout' with {
			pagination_layout: filter_result.result.pagination
		} %}
	</div>

</div>
