@mixin h1 {
	font-family: $ff-title;
	font-weight: 500;
	font-size: rem(56);
	line-height: 1.3;

	@include media-breakpoint-only(sm) {
		font-size: rem(36);
		line-height: 1.5;
	}
}

@mixin h2 {
	font-family: $ff-title;
	font-weight: 500;
	font-size: rem(48);
	line-height: 1.33;

	@include media-breakpoint-only(sm) {
		font-size: rem(32);
		line-height: 1.25;
	}
}

@mixin h3 {
	font-family: $ff-title;
	font-weight: 500;
	font-size: rem(32);
	line-height: 1.5;

	@include media-breakpoint-only(sm) {
		font-size: rem(24);
		line-height: 1.33;
	}
}

@mixin h4 {
	font-family: $ff-title;
	font-weight: 500;
	font-size: rem(24);
	line-height: 1.33;

	@include media-breakpoint-only(sm) {
		font-size: rem(18);
	}
}

@mixin h5 {
	font-family: $ff-title;
	font-weight: 500;
	font-size: rem(20);
	line-height: 1.5;

	@include media-breakpoint-only(sm) {
		font-size: rem(16);
		line-height: 1.6;
	}
}

@mixin text-lead {
	font-family: $ff-title;
	font-weight: 500;
	font-size: rem(16);
	line-height: 1.5;

	@include media-breakpoint-only(sm) {
		font-size: rem(12);
		line-height: 1.33;
	}
}

@mixin text-quot {
	font-family: $ff-base;
	font-weight: 400;
	font-size: rem(20);
	line-height: 1.6;

	@include media-breakpoint-only(sm) {
		font-size: rem(16);
		line-height: 1.5;
	}
}

@mixin text-default($number: true) {
	font-family: $ff-base;
	font-weight: 400;
	font-size: rem(16);
	@if $number {
		line-height: 1.5;
	} @else {
		line-height: rem(24);
	}

	@include media-breakpoint-only(sm) {
		font-size: rem(12);
		@if $number {
			line-height: 1.33;
		} @else {
			line-height: rem(16);
		}
	}
}

@mixin text-small {
	font-family: $ff-base;
	font-weight: 400;
	font-size: rem(12);
	line-height: 1.33;

	@include media-breakpoint-only(sm) {
		font-size: rem(10);
		line-height: 1.6;
	}
}

@mixin text-label {
	font-family: $ff-base;
	font-weight: 400;
	font-size: rem(12);
	line-height: 1.33;
	letter-spacing: .17em;
	text-transform: uppercase;

	@include media-breakpoint-only(sm) {
		font-size: rem(10);
		line-height: 1.6;
		letter-spacing: .2em;
	}
}
