@import "section";
@import "base";

.main {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&-side {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100vh;
		z-index: 999;

		@include media-breakpoint-up(md) {
			width: rem(80);
		}

		&.menu--open {
			width: 100vw;
		}
	}

	&-content {
	}

	&-footer {
		margin-top: auto;
	}
}

.wrap {
	padding-left: rem($aside-width);
}

.wrap-l-1 {
	padding-left: $col-3-of-24;

	@include media-breakpoint-only(md) {
		padding-left: $col-4-of-24;
	}

	@include media-breakpoint-only(sm) {
		padding-left: $col-1-of-12;
	}
}

.wrap-l-2 {
	padding-left: $col-4-of-24;

	@include media-breakpoint-only(sm) {
		padding-left: $col-1-of-12;
	}
}

.wrap-l-3 {
	padding-left: $col-3-of-24;

	@include media-breakpoint-only(md) {
		padding-left: $col-4-of-24;
	}

	@include media-breakpoint-only(sm) {
		padding-left: 0;
	}
}

.wrap-r-1 {
	padding-right: $col-1-of-24;

	@include media-breakpoint-only(sm) {
		padding-right: $col-1-of-12;
	}
}

.wrap-r-2 {
	padding-right: $col-1-of-24;

	@include media-breakpoint-only(md) {
		padding-right: $col-2-of-24;
	}

	@include media-breakpoint-only(sm) {
		padding-right: $col-1-of-12;
	}
}

.wrap-r-3 {
	padding-right: $col-3-of-24;

	@include media-breakpoint-only(md) {
		padding-right: $col-2-of-24;
	}

	@include media-breakpoint-only(sm) {
		padding-right: $col-1-of-12;
	}
}

.wrap-r-4 {
	padding-right: $col-2-of-24;

	@include media-breakpoint-only(md) {
		padding-right: $col-1-of-24;
	}

	@include media-breakpoint-only(sm) {
		padding-right: $col-1-of-12;
	}
}

.wrap-r-5 {
	padding-right: $col-4-of-24;

	@include media-breakpoint-only(md) {
		padding-right: $col-2-of-24;
	}

	@include media-breakpoint-only(sm) {
		padding-right: $col-1-of-12;
	}
}

.wrap-r-6 {
	padding-right: $col-3-of-24;

	@include media-breakpoint-only(md) {
		padding-right: $col-1-of-24;
	}

	@include media-breakpoint-only(sm) {
		padding-right: 0;
	}
}

.wrap-r-sm {
	@include media-breakpoint-only(sm) {
		padding-right: $col-1-of-12;
	}
}
