.block-text-horizontal {
	width: 100%;

	&__inner {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}

	&__head {
		margin-bottom: rem(40);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(56);
		}

		@include media-breakpoint-up(lg) {
			flex: 0 0 40%;
			max-width: 40%;
		}
	}

	&__content {

		@include media-breakpoint-up(lg) {
			flex: 1 1 auto;
			padding-left: rem(64);
			padding-top: rem(16);
		}
	}
}
