html {
  font-family: $ff-base;
  font-weight: normal;
  font-style: normal;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

.h1 {
	@include h1;
}

.h2 {
	@include h2;
}

.h3 {
	@include h3;
}

.h4 {
	@include h4;
}

.h5 {
	@include h5;
}

.text-lead {
	@include text-lead;
}

.text-quot {
	@include text-quot;
}

.text-default {
	@include text-default;
}

.text-small {
  @include text-small;
}

.text-label {
	@include text-label;
}

.text-phone-link {
	@include h5;
	@include line-animate-in;
	color: currentColor;
	white-space: nowrap;

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

