.cursor {
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: rem(16);
	height: rem(16);
	border-radius: 50%;
	background-color: $color-primary;
	pointer-events: none;
	transition: none;
	$root: &;

	@media (hover: none) and (pointer: coarse) {
		display: none;
	}

	&-border {
		position: absolute;
		top: 0;
		left: 0;
		width: rem(16);
		height: rem(16);
		z-index: 1000;
		border-radius: 50%;
		background-color: $color-primary;
		opacity: .4;
	}
}
