.select2-selection--single {
	background-color: $color-light;
	color: $color-dark;

	&:focus,
	&:hover {
		border-color: $color-primary;
		color: $color-primary;

		.select2-selection__placeholder {
			color: inherit;
		}
	}

	.select2-selection__rendered {
	}

	.select2-selection__clear {
		cursor: pointer;
		float: right;
		font-weight: bold;
	}

	.select2-selection__placeholder {
		color: $color-gray;
	}
}

&.select2-container--disabled {
	.select2-selection--single {
		border-color: transparent;
		color: $color-gray;
		cursor: not-allowed;
		opacity: 0.5;

		.select2-selection__clear {
			display: none;
		}
	}
}

&.select2-container--open {
	.select2-selection--single {
		background-color: $color-primary;
		color: $color-primary-light;

		.select2-selection__placeholder {
			color: inherit;
		}
	}
}
