<div class="search-box-result-list">
	{% if list.items %}
		<ul class="search-box-result-list__items" data-search-box-result-list>
			{% for item in list.items %}
				<li class="search-box-result-list__item" data-search-box-result-item>
					{% if item.href %}
						<a href="{{ item.href }}">{{ item.text }}</a>
					{% else %}
						<span>{{ item.text }}</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
