.slider-cards-layout {
	&__head,
	&__body .swiper-container,
	&__bottom {
		@include media-breakpoint-only(sm) {
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}

		@include media-breakpoint-only(md) {
			padding-left: $col-4-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding-left: $col-3-of-24;
		}
	}


	&__head {
		@include media-breakpoint-only(sm) {
			margin-bottom: rem(40);
		}

		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
			padding-right: $col-1-of-24;
		}
	}

	&__body {
		.card-animation-shell {
			display: flex;
			width: 100%;
		}

		.swiper-container {
				// т.к. элементы при ховере выходят за рамки слайдера
				padding-top: rem(48);
				padding-bottom: rem(48);
				margin-top: rem(-48);
				margin-bottom: rem(-48);

			.swiper-slide {
				display: flex;
				height: auto;

				@include media-breakpoint-up(md) {
					width: 50%;
					margin-right: 2px;
				}

				@include media-breakpoint-up(lg) {
					width: 33.33%;
					margin-right: 2px;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;

		@include media-breakpoint-only(sm) {
			margin-top: rem(48);
		}

		@include media-breakpoint-up(md) {
			margin-top: rem(64);
			padding-right: $col-1-of-24;
		}
	}

	&__buttons {
		@include media-breakpoint-only(md) {
			width: 68.5%;
			padding-right: rem(32);
		}

		@include media-breakpoint-up(lg) {
			width: 70%;
			padding-right: rem(64);
		}
	}

	&__nav {
		@include media-breakpoint-only(sm) {
			display: none;
		}

		@include media-breakpoint-only(md) {
			display: flex;
			justify-content: flex-end;
			width: 31.5%;
		}

		@include media-breakpoint-up(lg) {
			width: 30%;
		}

		@at-root .nav-hidden & {
			display: none;
		}
	}

	.swiper-slide {
		&:nth-child(1) {
			.card-animation-shell {
				opacity: 0;
				transform: translateY($sal-slide-offset-Y);
			}
		}

		@include media-breakpoint-only(sm) {
			&:nth-child(2) {
				.card-animation-shell {
					transition-delay: $sal-animation-delay * 2;
					opacity: 0;
					transform: translateX($sal-slide-offset-Y);
				}
			}
		}

		@include media-breakpoint-up(md) {
			&:nth-child(2) {
				.card-animation-shell {
					transition-delay: $sal-animation-delay * 2;
					opacity: 0;
					transform: translateY($sal-slide-offset-Y);
				}
			}
		}

		@include media-breakpoint-up(lg) {
			&:nth-child(3) {
				.card-animation-shell {
					transition-delay: $sal-animation-delay * 3;
					opacity: 0;
					transform: translateY($sal-slide-offset-Y);
				}
			}
		}
	}

	&.in-viewport {
		.swiper-slide {
			&:nth-child(1),
			&:nth-child(2) {
				.card-animation-shell {
					opacity: 1;
					transform: none;
				}
			}

			@include media-breakpoint-up(lg) {
				&:nth-child(3) {
					.card-animation-shell {
						opacity: 1;
						transform: none;
					}
				}
			}
		}
	}
}
