.image {
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  &.is-cover {
    background-size: cover;
    @supports (object-fit: cover) {
      object-fit: cover;
    }
  }
  &.is-contain {
    background-size: contain;
    @supports (object-fit: contain) {
      object-fit: contain;
    }
  }
}
