<section class="hero-search bg-white">
	{% view '^hero-top-bar' %}
	<div class="hero-search__wrap">
		<div class="hero-search__inner">
			<div class="hero-search__breadcrumb">
				{% view '^breadcrumb' with {
					breadcrumb: hero.breadcrumb
				} %}
			</div>
			<h1 class="hero-search__heading h1 visually-hidden">{{ hero.heading }}</h1>
			<div class="hero-search__form">
				{% if hero.form %}
					{% view '^search-form' with {
						form: hero.form
					}%}
				{% endif %}
			</div>
			<div class="hero-search__bottom">
				{% if hero.result_count %}
					<div class="hero-search__result-count">{{ hero.result_count }}</div>
				{% endif %}
				{% if hero.search_filters %}
					<ul class="hero-search__filter-list">
						{% for filter in hero.search_filters %}
							<li class="hero-search__filter">
								{% view '^field-checkbox' with {
									field: filter
								} %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
</section>
