<p>
	В 2005 году я окончила Старооскольский геологоразведочный техникум имени И.И. Малышева по специальности «Прикладная
	геодезия», и почти сразу получила приглашение в «ЕВРОЦЕМЕНТ груп» на должность горнорабочего на маркшейдерских
	работах.
</p>
<p>
	С этого момента и начался мой трудовой путь в компании. С первых дней, по масштабу и уровню стоявших перед нами
	задач, я поняла, что мой работодатель — настоящий лидер цементной отрасли. Оправдались и ожидания по
	компенсационному и социальному пакетам.
</p>

{% view '^story-media' %}

{% view '^story-media' with {
	story_media: {
		"video": {
			"provider": "youtube",
			"src": "bTqVqk7FSmY",
			"poster": "tmp/story/media.jpg",
			"description": "Мощная высокопроизводительная машина"
		},
		"heading": "Программа поддержки молодых специалистов",
		"text": "21.05.2015"
	}
}%}

<div class="user-content-story__outward">
	{% view '&gallery-slider' %}
</div>

<p>
	Благодаря участию коллег и общей программе поддержки молодых специалистов, за эти годы я смогла пройти серьезный
	карьерный путь. После горнорабочего - помощника маркшейдера я была маркшейдером, потом ведущим маркшейдером. И вот
	уже более двух лет я работаю главным маркшейдером.
</p>
<p>
	У меня высшее образование - работая в «ЕВРОЦЕМЕНТ груп» я окончила Московский государственный открытый университет
	им. В.С. Черномырдина по специальности «Маркшейдерское дело, горный инженер маркшейдер». Конечно, сыграли роль мое
	личное стремление к успеху и желание развиваться. Это важные факторы роста в профессии и в компании «ЕВРОЦЕМЕНТ
	груп».
</p>
<p>
	В зоне моей ответственности планирование и контроль горных работ в карьере предприятия «Осколцемент», определение и
	учет объемов извлеченной горной массы и полезных ископаемых и многое-многое другое.
</p>

<ul>
	<li>Высшее образование (Юриспруденция/Управление персоналом/Экономика труда);</li>
	<li>Опыт работы от 3-х лет;</li>
	<li>Уверенные знания трудового законодательства РФ и правил ведения кадрового делопроизводства;</li>
	<li>Уверенное знание правил систематизации документов и формирования личных дел;</li>
	<li>Опыт работы в системе ПАРУС будет являться преимуществом;</li>
	<li>Умение располагать к себе людей, уравновешенность и коммуникабельность.</li>
</ul>

<div class="user-content-story__outward">
	<div class="user-content-story__accent bg-primary" data-viewport-trigger>
		<div class="user-content-story__accent-text" data-animate="clip">Моя работа интересна возможностью постоянного
			развития и освоения новых технологий, с помощью которых решаются
			маркшейдерские задачи. Получается, ежедневно я расширяю свой кругозор. И, конечно, мне нравится, что я
			работаю
			на свежем воздухе.
		</div>
	</div>
</div>

<p>
	Тем, кто собирается связать свою жизнь с компанией «ЕВРОЦЕМЕНТ груп» я хочу пожелать настоящего рвения: старайтесь
	делать то, что вы делаете, лучше всех! В работе не бывает никаких мелочей, важна каждая деталь. И всегда оставайтесь
	Человеком с большой буквы.
</p>


