.block-text-diagram {
	width: 100%;

	&__inner {

		@include media-breakpoint-up(lg) {
			display: flex;
		}
	}

	&__head {
		@include h2;
		margin-bottom: rem(32);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(56);
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
			max-width: rem(520);
		}
	}

	&__content {

		@include media-breakpoint-up(lg) {
			width: 50%;
			padding-top: rem(16);
		}

		.diagram-bar {
			margin-top: rem(24);
			@include media-breakpoint-up(md) {
				margin-top: rem(40);
			}
		}
	}
}
