<div class="block-text-diagram" data-viewport-trigger {{ block.attr }}>
	<div class="block-text-diagram__inner">
		{% if block.heading %}
			<h2 class="block-text-diagram__head h2"
				data-animate="clip" data-animate-delay="1">{{ block.heading }}</h2>
		{% endif %}
		{% if block.content.text or block.content.diagram %}
			<div class="block-text-diagram__content"
				 data-animate="fade-in-up" data-animate-delay="2">
				{% if block.content.text %}
					<div class="user-text">{{ block.content.text }}</div>
				{% endif %}
				{% if block.content.diagram %}
					{% view '^diagram-bar' with {
						diagram_bar: block.content.diagram
					} %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
