<div class="card-story__image">
	<div class="card-story__image-mask">
		{% if card.image %}
			{% view '@image' with {
				image: card.image
			} %}
		{% endif %}
	</div>
</div>
<div class="card-story__body">
	<div class="card-story__top">
		{% if card.heading %}
			<div class="card-story__heading">{{ card.heading|raw }}</div>
		{% endif %}
		{% if card.text %}
			<div class="card-story__text">{{ card.text|raw }}</div>
		{% endif %}
	</div>
	{% if card.note %}
		<div class="card-story__bottom">
			<div class="card-story__note">{{ card.note|raw }}</div>
		</div>
	{% endif %}
</div>
