{% if card.href %}
	<a href="{{ card.href }}" class="card-story">
		{% include '@molecules/card-story/card-story-inner.twig' %}
	</a>
{% else %}
	<div class="card-story">
		{% include '@molecules/card-story/card-story-inner.twig' %}
	</div>
{% endif %}
