<section class="section-complex bg-white" data-viewport-trigger {{ section_complex.attr }}>
	<div class="section-complex__main">
		<div class="section-complex__main-content">
			{% if section_complex.main.heading %}
				<h2 class="section-complex__main-heading h2"
					data-animate="clip" data-animate-delay>{{ section_complex.main.heading|raw }}</h2>
			{% endif %}
			{% if section_complex.main.lead %}
				<div class="section-complex__main-lead text-lead"
					 data-animate="fade-in-up" data-animate-delay="1">{{ section_complex.main.lead|raw }}</div>
			{% endif %}
			{% if section_complex.main.text %}
				<div class="section-complex__main-text text-default"
					 data-animate="fade-in-up" data-animate-delay="2">{{ section_complex.main.text|raw }}</div>
			{% endif %}
		</div>
		{% if section_complex.main.image %}
			<div class="section-complex__main-image"  data-animate="clip" data-animate-delay="2">
				{% view '@image' with {
					image: section_complex.main.image
				} %}
			</div>
		{% endif %}
	</div>

	<div class="section-complex__bottom{% if section_complex.factor %} section-complex__bottom--factor{% endif %} bg-primary">
		{% if section_complex.slider %}
			{% include '@organisms/section-complex/section-complex-slider.twig' %}
		{% else %}
			{% include '@organisms/section-complex/section-complex-factor.twig' %}
		{% endif %}
	</div>
</section>
