<div class="section-complex-slider-outer">
	<div class="section-complex-slider-heading" data-animate="clip" data-animate-delay="3">
		{% if section_complex.slider.heading %}
			<h2 class="h2">{{ section_complex.slider.heading|raw }}</h2>
		{% endif %}
	</div>
	<div class="section-complex-slider-wrap" data-section-complex-slider-wrap
		 data-animate="fade-in-up" data-animate-delay="4">
		<div class="swiper-container section-complex-slider" data-section-complex-slider>
			<div class="swiper-wrapper">
				{% for item in section_complex.slider.items %}
					<div class="swiper-slide">
						<div class="section-complex-slider__item">
							{% if item.heading %}
								<div class="section-complex-slider__item-heading h5">
									{% if item.number %}<sup>{{ item.number|raw }}</sup>{% endif %}
									{{ item.heading|raw }}
								</div>
							{% endif %}
							{% if item.text %}
								<div class="text-default">{{ item.text|raw }}</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% if section_complex.slider.items|length > 1 %}
			<div class="section-complex-slider-nav" data-animate="fade-in-up" data-animate-delay="5">
				{% view '@nav-arrows' with {
					"nav_arrows": {
						"theme": "border-white",
						"hover": "white"
					}
				} %}
			</div>
		{% endif %}
	</div>
</div>
