.card-feature-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	&-wrapper {
		@include media-breakpoint-up(lg) {
			padding-left: $col-3-of-24;
		}
	}

	&-head {
		margin-bottom: rem(56);
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(40);
		}
		@include media-breakpoint-up(lg) {
			margin-left: calc(100vw / 24 * -3);
		}
	}

	&__item {
		width: 100%;
		padding: 1px 0;
		@include media-breakpoint-up(lg) {
			width: 33.33%;
			padding: 0 1px;
		}

		.card-feature {
			height: 100%;
		}
	}
}
