.link-action {
  $b: #{&};
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  padding: 0;
  border: 0;
  border-radius: 0;
  text-decoration: none !important;
  background-color: transparent;
  color: $color-black;

  &__icon {
    pointer-events: none;
    color: $color-graphite;

    &:not(:last-child) {
      margin-right: rem(16);
    }
  }

  &__text {
		@include text-default();
    color: inherit;
    text-decoration: none !important;
    @include defaultTransition(color);
  }

  &:hover {
    color: $color-orange;
  }

  &--white {
    color: $color-white;
    @include defaultTransition(opacity);

    #{$b}__text {
      color: currentColor;
    }

    #{$b}__icon {
      color: $color-white;
    }

    &:hover {
      opacity: 0.65;
    }
  }

	&--gray {
		color: $color-dim-gray;

		#{$b}__text {
			color: currentColor;
		}

		#{$b}__icon {
			color: currentColor;
			@include defaultTransition(color);
		}
	}

	&--tag {
		flex-direction: row-reverse;
		padding: rem(12) rem(16);
		background-color: $color-gray;
		color: $color-white;
		text-transform: uppercase;
		@include defaultTransition(background);

		&:hover, &.active {
			color: $color-white;
			background-color: $color-graphite;
		}

		#{$b}__text {
			@include text-label();
		}

		.icon {
			margin-right: inherit;
			margin-left: rem(10);
			color: $color-white;

			svg {
				width: rem(16);
				height: rem(16);
			}
		}
	}

	&:disabled {
		opacity: .5;
		pointer-events: none;

		@at-root .filter-ext-link & {
			opacity: 0;
		}
	}
}
