{% extends 'layouts::_page.twig' %}

{% set title = "Атомы" %}

{% block content %}
	{% set wrappers = [
		{
			name: "wrap-l-1",
			desc: "pc: 3 of 24, md: 4 of 24, sm: 1 of 12"
		},
		{
			name: "wrap-l-2",
			desc: "pc: 4 of 24, md: 4 of 24, sm: 1 of 12"
		},
		{
			name: "wrap-l-3",
			desc: "pc: 3 of 24, md: 4 of 24, sm: 0"
		},
		{
			name: "wrap-r-1",
			align: "right",
			desc: "pc: 1 of 24, md: 1 of 24, sm: 1 of 12"
		},
		{
			name: "wrap-r-2",
			align: "right",
			desc: "pc: 1 of 24, md: 2 of 24, sm: 1 of 12"
		},
		{
			name: "wrap-r-3",
			align: "right",
			desc: "pc: 3 of 24, md: 2 of 24, sm: 1 of 12"
		},
		{
			name: "wrap-r-4",
			align: "right",
			desc: "pc: 2 of 24, md: 1 of 24, sm: 1 of 12"
		},
		{
			name: "wrap-r-5",
			align: "right",
			desc: "pc: 4 of 24, md: 2 of 24, sm: 1 of 12"
		},
		{
			name: "wrap-r-6",
			align: "right",
			desc: "pc: 3 of 24, md: 1 of 24, sm: 0"
		}
	] %}

	{% for wrap in wrappers %}
		{% if (loop.index + 1) % 2 %}
			{% set color = 'primary' %}
		{% else %}
			{% set color = 'white' %}
		{% endif %}
		<div class="py-24 {{ wrap.name }} bg-{{ color }}{% if wrap.align %} text-{{ wrap.align }}{% endif %}">
			{{ wrap.name }} <br>( {{ wrap.desc }} )
		</div>
	{% endfor %}

	<hr>

	<div class="wrap-l-1">
		<div class="h1">Heading H1</div>
		<div class="h2">Heading H2</div>
		<div class="h3">Heading H3</div>
		<div class="h4">Heading H4</div>
		<div class="h5">Heading H5</div>
		<div class="text-lead">text-lead</div>
		<div class="text-quot">text-quot</div>
		<div class="text-default">text-default</div>
		<div class="text-label">text-label</div>
		<div class="text-small">text-small</div>

		<div class="py-16 px-24">
			<a href="#" class=" text-default text-link-disappear">text-link-disappear</a> &
			<a href="#" class=" text-default text-link-appear">text-link-appear</a>
		</div>
		<div class="py-16 px-24">
			<a href="#" class=" text-default text-link-disappear color-primary">text-link-disappear</a> &
			<a href="#" class=" text-default text-link-appear color-primary">text-link-appear</a>
		</div>
		<div class="py-16 px-24 bg-white">
			<a href="#" class=" text-default text-link-disappear">text-link-disappear</a> &
			<a href="#" class=" text-default text-link-appear">text-link-appear</a>
		</div>
		<div class="py-16 px-24 bg-dark">
			<a href="#" class=" text-default text-link-disappear">text-link-disappear</a> &
			<a href="#" class=" text-default text-link-appear">text-link-appear</a>
		</div>
		<div class="py-16 px-24 bg-primary">
			<a href="#" class=" text-default text-link-disappear">text-link-disappear</a> &
			<a href="#" class=" text-default text-link-appear">text-link-appear</a>
		</div>

		<div class="py-16 px-24 bg-white">
			{% view '@link-action' %}
		</div>

		<div class="py-16 px-24 bg-white">
			{% view '@link-action' with {
				link : {
					tag: true,
					icon: {
						name: "24/close"
					},
					text: "МОСКВА",
					title: "Подсказка при наведении на ссылку",
					external: false,
					disabled: false,
					attr: " data-tag='' "
				}
			} %}
		</div>

		<div class="py-16 px-24 bg-light">
			{% view '@link-action' with {
				link : {
					icon: {
						name: "24/filter"
					},
					"modificator": "gray",
					text: "Расширенный фильтр",
					title: "Подсказка при наведении на ссылку",
					external: false,
					disabled: false,
					attr: " data-ext-filter='' "
				}
			} %}
		</div>

		<ul class="ul-list">
			<li>
				Высшее образование (Юриспруденция/Управление персоналом/Экономика труда);
			</li>
			<li>
				Опыт работы от 3-х лет;
			</li>
			<li>
				Уверенные знания трудового законодательства РФ и правил ведения кадрового делопроизводства;
			</li>
			<li>
				Уверенное знание правил систематизации документов и формирования личных дел;
			</li>
			<li>
				Опыт работы в системе ПАРУС будет являться преимуществом;
			</li>
			<li>
				Умение располагать к себе людей, уравновешенность и коммуникабельность.
			</li>
		</ul>

		<ol class="ol-list">
			<li>
				Высшее образование (Юриспруденция/Управление персоналом/Экономика труда);
			</li>
			<li>
				Опыт работы от 3-х лет;
			</li>
			<li>
				Уверенные знания трудового законодательства РФ и правил ведения кадрового делопроизводства;
			</li>
			<li>
				Уверенное знание правил систематизации документов и формирования личных дел;
			</li>
			<li>
				Опыт работы в системе ПАРУС будет являться преимуществом;
			</li>
			<li>
				Умение располагать к себе людей, уравновешенность и коммуникабельность.
			</li>
		</ol>
		<hr>
	</div>


	<div class="wrap-l-1">
		{% set buttonList = [
			{
				"text": "Кнопка"
			},
			{
				"text": "Disabled",
				"disabled": true
			}
		] %}
		<div class="py-40 px-24 bg-light">
			{% for button in buttonList %}
				{% view '@button' with {
					button: button|merge({
						"theme": "border-dark",
						"hover": "white"
					})
				} %}
			{% endfor %}
		</div>
		<div class="py-40 px-24 bg-white">
			{% for button in buttonList %}
				{% view '@button' with {
					button: button|merge({
						"theme": "border-dark",
						"hover": "light"
					})
				} %}
			{% endfor %}
		</div>
		<div class="py-40 px-24 bg-dark">
			{% for button in buttonList %}
				{% view '@button' with {
					button: button|merge({
						"theme": "border-white",
						"hover": "white"
					})
				} %}
			{% endfor %}
		</div>
		<div class="py-40 px-24 bg-primary">
			{% for button in buttonList %}
				{% view '@button' with {
					button: button|merge({
						"theme": "border-white",
						"hover": "white"
					})
				} %}
			{% endfor %}
		</div>
		<div class="py-40 px-24 bg-light">
			{% for button in buttonList %}
				{% view '@button' with {
					button: button|merge({
						"theme": "primary",
						"hover": "primary"
					})
				} %}
			{% endfor %}
		</div>
		<hr>
	</div>


	<div class="wrap-l-1">
		<div class="py-40 px-24 bg-light">
			{% view '@nav-arrows' with {
				"nav_arrows": {
					"theme": "border-dark",
					"hover": "white"
				}
			} %}
		</div>
		<div class="py-40 px-24 bg-white">
			{% view '@nav-arrows' with {
				"nav_arrows": {
					"theme": "border-dark",
					"hover": "light"
				}
			} %}
		</div>
		<div class="py-40 px-24 bg-dark">
			{% view '@nav-arrows' with {
				"nav_arrows": {
					"theme": "border-white",
					"hover": "white"
				}
			} %}
		</div>
		<div class="py-40 px-24 bg-primary">
			{% view '@nav-arrows' with {
				"nav_arrows": {
					"theme": "border-white",
					"hover": "white"
				}
			} %}
		</div>
		<hr>
	</div>



{% endblock %}
