{% extends 'layouts::_page.twig' %}

{% set title = "HR FAQ " %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}
	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-3 wrap-r-6">
		{% view '^accordion' with {
			accordion: accordion|merge({
				faq: true,
			})
		} %}
	</div>
	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64">
		{% view '&banner' with {
			banner: banner
		} %}
	</div>
	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner
		} %}
	</div>
	<div class="mt-64 mt-md-96">
		{% view '&button-major-group' with {
			button_group: button_group
		} %}
	</div>
{% endblock %}
