{% extends 'layouts::_page.twig' %}

{% set title = "HR Hiring " %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	{% view '&feature-list-ol-slider' with {
		slider: slider
	} %}

	<div class="mt-64 mt-md-96 mb-lg-72 mb-md-96 mb-64 wrap-l-1 wrap-r-1">
		{% view '^accordion' with {
			accordion: accordion
		} %}
	</div>
	<div class="mt-64 mt-md-96 mt-lg-128">
		{% view '&action-banner' with {
			action_banner: action_banner
		}%}
	</div>
{% endblock %}
