{% extends 'layouts::_page.twig' %}

{% set title = "HR Reasons" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	{% if feature %}
		<div class="wrap-l-1 wrap-r-1 mt-64 mt-md-96 mb-96 mb-md-128">
			{% view '&feature-list' with {
				list: feature
			} %}
		</div>
	{% endif %}

	{% if action_banner %}
		<div class="mb-64 mb-md-96">
			{% view '&action-banner' with action_banner %}
		</div>
	{% endif %}

	{% if button_group %}
		{% view '&button-major-group' with button_group %}
	{% endif %}

{% endblock %}
