{% extends 'layouts::_page.twig' %}

{% set title = "HR Stories" %}

{% block content %}
	{% view '&hero-default' with {
		hero: hero
	} %}

	{% if quote_block %}
		<div class="wrap-l-1 wrap-r-1 py-112 bg-white">
			{% view '&quote-block' %}
		</div>
	{% endif %}

	{% if card_story_list.items %}
		<div class="wrap-l-1 my-64 my-md-96">
			<div class="wrap-r-sm">
				{% view '&card-story-list' %}
			</div>
			<div class="mt-48 wrap-r-1">
				{% view '&pagination-layout' with {
					pagination_layout: card_story_list.pagination_layout
				} %}
			</div>
		</div>
	{% endif %}

	{% if action_banner %}
		<div class="my-64 my-md-96">
			{% view '&action-banner' %}
		</div>
	{% endif %}
{% endblock %}
