{% extends 'layouts::_page.twig' %}

{% set title = "HR Vacancy inner" %}

{% block content %}
	{% view '&hero-vacancy' with {
		hero: hero
	} %}

	{% if vacancy_info %}
		{% view '&vacancy-info' with vacancy_info %}
	{% endif %}

	{% if vacancy_detail %}
		{% view '&vacancy-detail' with vacancy_detail %}
	{% endif %}

	{% if button_group %}
		{% view '&button-major-group' with button_group %}
	{% endif %}

{% endblock %}
