<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#212121">
    <link type="image/png" rel="shortcut icon"
          href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_16x16.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_180x180.png">
    <link rel="icon" type="image/png" href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_16x16.png"
          sizes="16x16">
    <link rel="icon" type="image/png" href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_32x32.png"
          sizes="32x32">
    <link rel="icon" type="image/png" href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_96x96.png"
          sizes="96x96">
    <link rel="icon" type="image/png" href="http://www.uplab.ru/local/templates/main/img/favicons/uplab_fav_192x192.png"
          sizes="192x192">

    <title>Верстка {{ project_name }}</title>
</head>
<body>
<div class="head-line">
    <h1>{{ project_name }} Frontend</h1>
</div>

<div class="wrap">
    {# Список страниц: /data/index.json #}
    {% for key, pages in page_list %}
        <h2>{{ key }}</h2>
        <ol class="box">
            {% for page in pages %}
                <li><a href="{{ page.link }}.html">{{ page.name }}</a></li>
            {% endfor %}
        </ol>
    {% endfor %}
</div>

<style>
    body {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 16px;
        background-color: #fafafa;
        color: #212121;
        margin: 0;
    }

    .head-line {
        background-color: #212121;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }

    .head-line h1 {
        margin: 0 auto;
        padding: 20px 10px;
        max-width: 1280px;
        min-height: 68px;
        box-sizing: border-box;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        word-wrap: break-word;
    }

    .wrap {
        padding: 0 10px 10px;
        text-align: center;
        overflow: hidden;
    }

    h2 {
        text-align: center;
        position: relative;
        display: inline-block;
        max-width: 1280px;
        margin: 30px 0 10px;
        padding: 0 20px;
        background-color: #fafafa;
        font-weight: 400;
    }

    h2:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 1280px;
        background-color: #f2f2f2;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: -1;
    }

    a {
        color: #212121;
        text-decoration: none;
    }

    a:hover {
        color: #212121;
        text-decoration: underline;
    }

    .box {
        padding: 20px 40px;
        margin: 20px auto 0;
        width: 100%;
        max-width: 1280px;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        text-align: left;
        -webkit-columns: 210px auto;
        columns: 210px auto;
        -webkit-column-gap: 50px;
        column-gap: 50px;
        -webkit-column-rule: 1px solid #f2f2f2;
        column-rule: 1px solid #f2f2f2;
    }

    ol, ul {
        list-style-type: none;
    }

    li {
        word-wrap: break-word;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px 15px 10px 40px;
        position: relative;
    }

    li a:before {
        position: absolute;
        display: inline-block;
    }

    ol {
        counter-reset: item;
    }

    ol li {
        counter-increment: item;
    }

    ol li a:before {
        content: counter(item, decimal-leading-zero) ".";
        top: 13px;
        left: 0;
        color: #F28610;
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        z-index: 10;
    }

    ol li a:visited:before {
        color: #FACF9F;
    }

    ul li a:before {
        content: '';
        top: 18px;
        left: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #64b5f6;
    }

    ul li a:visited:before {
        background-color: #ba68c8;
    }
</style>
</body>
</html>
