{% extends 'layouts::_page.twig' %}

{% set title = "Организмы" %}

{% block content %}


	<div class="my-64 wrap-l-1">
		{% view '&feature-list-ol-slider' %}
	</div>
	{# action-banner #}
	<div class="my-64">
		{% view '&action-banner' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&factor-list' %}
	</div>

	{# banner #}
	<div class="my-64">
		{% view '&banner' %}
	</div>

	{# banner right #}
	<div class="my-64">
		{% view '&banner' with {
			banner: banner_right
		} %}
	</div>

	{#	quote-block #}
	<div class="wrap-l-1 wrap-r-1 my-64 py-112 bg-white">
		{% view '&quote-block' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&block-text-diagram' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&block-text-horizontal' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&block-text-default' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&block-text-factor' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&feature-list-ol' %}
	</div>

	<div class="wrap-l-1 my-64">
		{% view '&feature-list-ol' with {
			"list": {
				"background_color": "primary",
				"items": [
					{
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem"
					}
					},
					{
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem"
					}
					}
				]
			}
		} %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&feature-list-ol' with {
			"list": {
				"layout": "2",
				"items": [
					{
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem"
					}
					},
					{
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem"
					}
					},
					{
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem"
					}
					}
				]
			}
		} %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&feature-list' %}
	</div>

	<div class="wrap-l-1 wrap-r-1 my-64">
		{% view '&feature-list' with {
			"list": {
				"items": [
					{
						"icon": {
						"name": "64/heart"
					},
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem",
						"link_list": [
							{
								"href": "!#",
								"text": "link-text"
							}
						]
					}
					},
					{
						"icon": {
						"name": "64/heart"
					},
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem",
						"link_list": [
							{
								"href": "!#",
								"text": "link-text"
							}
						]
					}
					},
					{
						"icon": {
						"name": "64/heart"
					},
						"heading": "Гармония с природой",
						"content": {
						"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem",
						"link_list": [
							{
								"href": "!#",
								"text": "link-text"
							}
						]
					}
					}
				]
			}
		} %}
	</div>

	<div class="my-64">
		{% view '&section-complex' %}
	</div>

	<div class="my-64">
		{% view '&section-odds' %}
	</div>

	<div class="my-64">
		{% view '&slider-directions' %}
	</div>

	<div class="my-64">
		{% view '&slider-cards-layout' with {
			slider_cards_layout: slider_cards_layout
		} %}
	</div>

	<div class="my-64">
		{% view '&slider-cards-layout' with {
			slider_cards_layout: slider_cards_layout_2
		} %}
	</div>

	<div class="my-64">
		{% view '&slider-cards-layout' with {
			slider_cards_layout: slider_cards_layout_3
		} %}
	</div>

	<div class="my-64">
		{% view '&block-character' %}
		{% view '&block-character' with {
			block_character: block_character_2
		} %}
	</div>

	<div class="my-64">
		{% view '&block-text-factor-image' %}
	</div>

	<div class="my-64">
		{% view '&button-major-group' %}
	</div>

	<div class="my-64">
		{% view '&button-major-group' with {
			"button_group": {
				"layout": "2",
				"items": [
					{
						"href": "",
						"label": "Вакансии",
						"heading": "Профессионалам"
					},
					{
						"href": "",
						"label": "Вакансии",
						"heading": "Профессионалам"
					}
				]
			}
		} %}
	</div>

	<div class="my-64">
		{% view '&search-bar' %}
	</div>

	<div class="my-64 wrap-l-1 wrap-r-1">
		{% view '&search-result-item-list' %}
	</div>

	<div class="my-64 wrap-l-1 wrap-r-1">
		{% view '&pagination-layout' %}
	</div>

	<div class="my-64">
		{% view '&card-feature-list' %}
	</div>

	<div class="wrap my-64">
		{% view '&gallery-slider' %}
	</div>

	{# FILTER #}
	<div class="my-64 wrap-r-1">
		{% view '&filter' with {
			filter: filter_sidebar
		} %}
	</div>

	{# FILTER NO SIDEBAR #}
	<div class="my-64 wrap-l-1 wrap-r-4">
		{% view '&filter' with filter %}
	</div>

{% endblock %}
