.select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	border: 2px solid transparent;
	border-radius: 0;
	@include defaultTransition(background-color, color, border);
	height: 100%;

	user-select: none;
	-webkit-user-select: none;

	.has-error & {
		border-color: $color-error;
		color: $color-red;

		.select2-selection__placeholder {
			color: inherit;
		}

		.select2-selection__arrow {
			b {
				background-image: $i-chevron-down-error;
			}
		}
	}

	&:focus {
		outline: none;
	}

	&:focus,
	&:hover {
		.select2-selection__arrow {
			b {
				background-image: $i-chevron-down-primary;
			}
		}
	}

	.select2-selection__rendered {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 100%;
	}

	.select2-selection__clear {
		position: relative;
	}

	.select2-selection__arrow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: rem(64);
		display: flex;
		align-items: center;
		justify-content: flex-start;

		b {
			width: rem(24);
			height: rem(24);
			background-image: $i-chevron-down-dark;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			@include defaultTransition(transform, background-image);
		}
	}

	&.select2-selection--default {
		.select2-selection__rendered {
			padding: rem(22) rem(64) rem(22) rem(38);

			@include media-breakpoint-down(md) {
				padding-left: rem(32);
			}

			@include media-breakpoint-only(sm) {
				padding-right: rem(40);
				padding-left: rem(30);
			}
		}
	}

	&.select2-selection--small {
		.select2-selection__rendered {
			padding: rem(10) rem(48) rem(10) rem(22);

			@include media-breakpoint-only(sm) {
				padding-right: rem(32);
			}
		}

		.select2-selection__arrow {
			width: rem(48);
		}
	}
}

&[dir="rtl"] {
	.select2-selection--single {
		.select2-selection__rendered {
			padding-right: rem(22);
			padding-left: rem(38);
		}

		.select2-selection__clear {
			float: left;
		}

		.select2-selection__arrow {
			left: 1px;
			right: auto;
		}
	}
}

&.select2-container--open {
	.select2-selection--single {
		.select2-selection__arrow {
			b {
				background-image: $i-chevron-down-white;
				transform: rotate(180deg)
			}
		}
	}
}
