<div class="unit-share">
	{% if unit_share.heading %}
		<div class="unit-share__heading text-default">{{ unit_share.heading|raw }}</div>
	{% endif %}
	<div class="unit-share__list">
		{% view '@share' with {
			share: unit_share
		} %}
	</div>
</div>
