<div class="quote-block"{% if quote_block.items|length > 1 %} data-slider-wrap{% endif %} data-viewport-trigger>
	{% if quote_block.heading %}
		<h2 class="quote-block__title-main h2" data-animate="clip">{{ quote_block.heading }}</h2>
	{% endif %}

	<div class="quote-block__slider"{% if quote_block.items|length > 1 %} data-slider{% endif %}>

		<div class="swiper-wrapper">

			{% for item in quote_block.items %}

				<div class="swiper-slide" {{ item.attr }}>
					<div class="quote-block__container"{% if loop.first %} data-viewport-trigger{% endif %}>

						<div class="quote-block__content">
							<div class="quote-block__head" data-animate="fade-in-up">
								{% if item.heading %}
									<h2 class="h2 quote-block__title" data-animate="clip">{{ item.heading }}</h2>
								{% endif %}
								<div class="quote-block__quote">
									{% view '@icon' with {
										icon: item.icon
									} %}
								</div>
								<div class="quote-block__line"></div>
							</div>

							<div class="quote-block__inner-content" data-animate="fade-in-up">

								<div class="quote-block__text-wrap">
									<div class="quote-block__text">{{ item.text }}</div>

									{% if item.more_text %}

										<div class="quote-block__text quote-block__text--more disable">{{ item.more_text.text }}</div>

									{% endif %}
								</div>


								{% if item.more_text and item.link %}

									<a href="{{ item.link.href }}"
									   class="quote-block__link js-show-more"
									   data-before="{{ item.more_text.link.before }}"
									   data-after="{{ item.more_text.link.after }}"
									>{{ item.more_text.link.before }}</a>

								{% elseif item.link %}

									<a href="{{ item.link.href }}"
									   class="quote-block__link"
									>{{ item.link.text }}</a>

								{% endif %}

								<div class="quote-block-bottom">
									<div class="quote-block-bottom__text h5">{{ item.bottom.text }}</div>
									<div class="quote-block-bottom__desc">{{ item.bottom.desc }}</div>
									{% if item.bottom.role %}
										<div class="quote-block-bottom__role">{{ item.bottom.role }}</div>
									{% endif %}
								</div>

							</div>
						</div>

						{% if item.image %}
							<div class="quote-block__img" data-animate="clip">
								{% view '@image' with {
									image: item.image
								} %}
							</div>
						{% endif %}
					</div>
				</div>

			{% endfor %}

		</div>

	</div>

	{% if quote_block.items|length > 1 %}

		<div class="quote-block__controls" data-viewport-trigger>

			{% view '@nav-arrows' with {
				"nav_arrows": {
					"theme": "border-dark",
					"hover": "light",
					"attr": "data-animate='fade-in-up'"
				}
			} %}

		</div>

	{% endif %}

</div>



