.textarea {
	resize: vertical;

	&--default {
		min-height: rem($input-default-h);

		@include media-breakpoint-only(sm) {
			min-height: rem($input-default-h-sm);
		}
	}

	&--small {
		min-height: rem($input-small-h);
	}
}
