<div class="input-shell">
	<textarea class="textarea textarea--{{ field.size ?: 'default' }} textarea--{{ field.theme ?: 'white' }}{% if field.class %} {{ field.class }}{% endif %}"
			  name="{{ field.name }}"
			  {% if field.id %}id="{{ field.id }}"{% endif %}
              rows="4"
			  placeholder="{{ field.placeholder }}"
              {% if field.required %} required data-pristine-required-message="{{ field.error.required?: messages.error.required }}"{% endif %}
		{% if field.disabled %} disabled{% endif %}
		{% if field.readonly %} readonly{% endif %}>{{ field.value }}</textarea>
	{% if field.hint %}
		<div class="input-hint">
			{% view '@hint' with {
				hint: field.hint
			} %}
		</div>
	{% endif %}
	<div class="input-status">!</div>
</div>
