<div class="block-text-default" data-viewport-trigger>
	<div class="block-text-default__inner">
		{% if block.heading %}
			<h2 class="block-text-default__head h2"
				data-animate="clip" data-animate-delay="1">{{ block.heading }}</h2>
		{% endif %}
		{% if block.description %}
			<div class="text-lead">{{ block.description }}</div>
		{% endif %}
		{% if block.content.text %}
			<div class="block-text-default__content user-text"
				 data-animate="fade-in-up" data-animate-delay="2">{{ block.content.text }}</div>
		{% endif %}
	</div>
</div>
