.feature-list-ol {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: decimail-counter;
	$root: &;

	&-wrapper:not(.bg-transparent) {
		@at-root .wrap-l-1 & {
			@include media-breakpoint-only(sm) {
				margin-left: calc(100vw / 12 * -1);
			}
		}
	}

	@at-root &-wrapper:not(.bg-transparent) & {
		padding: rem(48) $col-1-of-12 rem(56);

		@include media-breakpoint-up(md) {
			padding: rem(96) $col-2-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding: rem(96) $col-2-of-24 rem(96) $col-1-of-24;
		}

		#{$root}__item {
			&:before {
				width: auto;
				@include h5;
				opacity: 0.6;

				@include media-breakpoint-down(md) {
					left: 0;
				}
			}
		}
	}

	&__item {
		position: relative;
		counter-increment: decimail-counter;
		&:not(:last-child) {
			margin-bottom: rem(48);

			@include media-breakpoint-up(md) {
				margin-bottom: rem(56);
			}

			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
			padding: 0 $col-1-of-24;

			&:nth-child(n+3) {
				margin-top: rem(64);
			}
		}

		&:before {
			content: counter(decimail-counter, decimal-leading-zero);
			position: absolute;
			top: 0;
			left: $col-1-of-24;
			width: rem(16);
			height: rem(16);
			color: currentColor;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			@include text-label;

			@at-root .bg-transparent & {
				color: $color-primary;
			}
		}
	}

	&--layout-2 {
		#{$root}__item {
			@include media-breakpoint-up(lg) {
				width: 33.33%;

				&:nth-child(n+3) {
					margin-top: 0;
				}

				&:nth-child(n+4) {
					margin-top: rem(64);
				}
			}
		}
	}
}
