.hero-main {
	position: relative;
	min-height: 100vh;
	$root: &;

	@include media-breakpoint-up(lg) {
		height: 100vh;
	}

	&__slider {
		height: 100vh;
		width: 100%;
	}

	&__slide {
		min-height: 100vh;
		width: 100%;
		background-color: $color-gray;
		@include defaultTransition(opacity);

		#{$root}__slider.swiper-container-fade & {
			pointer-events: none;
		}

		#{$root}__slider.swiper-container-fade &.swiper-slide-active {
			pointer-events: auto;
		}

		&-image {
			@at-root .has-overlay & {
				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background-color: $color-black;
					opacity: .6;
					pointer-events: none;
				}
			}
			.image {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				object-fit: cover;
				background-size: cover;
				width: 100%;
				height: 100%;

				&.swiper-lazy {
					opacity: 0;
					transition: opacity $timing $easing;
				}

				&.swiper-lazy-loaded {
					opacity: 1;
				}
			}
		}

		&__slide {
			position: relative;
			overflow: hidden;
		}

		&-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;

			.image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(1.1);
				transition: transform 1s;
			}

			#{$root}__slide.swiper-slide-active & {
				.image {
					transform: scaleX(1);
				}
			}

			#{$root}__slide.swiper-slide-duplicate-active & {
				.image {
					transform: scale(1);
				}
			}
		}

		&-actions {
			margin-top: rem(32);

			@include media-breakpoint-up(md) {
				margin-top: rem(64);
			}
		}

		&-inner {
			position: relative;
			display: flex;
			flex-direction: column;
			padding-top: rem(136);
			z-index: 2;

			@include media-breakpoint-up(md) {
				padding-top: rem(232);
			}

			@include media-breakpoint-up(lg) {
				flex-direction: row;
			}
		}

		&-left {

			@include media-breakpoint-up(lg) {
				width: calc(100vw / 24 * 12);
				flex-shrink: 0;
				margin-right: $col-3-of-24;
			}
		}

		&-right {
			flex-grow: 1;

			@include media-breakpoint-down(md) {
				display: flex;
				flex-wrap: wrap;
				padding-top: rem(64);
				margin: rem(-8) 0;

				.factor:nth-child(even) {
					margin-left: auto;
				}

				.factor {
					padding: rem(8) 0;
				}
			}

			@include media-breakpoint-only(md) {
				padding-top: rem(48);
			}

			@include media-breakpoint-up(lg) {
				.factor:not(:last-child) {
					margin-bottom: rem(80);
				}
			}
		}
	}

	.search-bar {
		position: absolute;
		left: 0;
		top: rem(72);
		transform: translate3d(-100%, 0, 0);
		z-index: 2;

		@at-root .is-loaded & {
			transition: transform $timing $easing;
		}

		@include media-breakpoint-up(md) {
			top: rem(112);
		}
	}

	.hero-top-bar--search-open ~ .search-bar{
		transform: translate3d(0, 0, 0);
	}

	.scroll-down-btn {
		position: absolute;
		z-index: 10;
		left: $col-3-of-24;
		bottom: rem(64);
		@include media-breakpoint-down(md) {
			display: none;
		}

		.icon {
			color: $color-white;
		}

		&:after {
			content: '';
			position: absolute;
			top: rem(-8);
			bottom: rem(-8);
			left: rem(-8);
			right: rem(-8);
		}

		animation: arrowDown $timing*3 $easing infinite;
	}

	&__slider-pagination {
		display: flex;
		justify-content: center;
		pointer-events: none;

		& > :last-child {
			margin-right: 0;
		}
	}

	&__slider-nav {
		position: absolute;
		width: 100%;
		height: rem(12);
		left: 0;
		bottom: rem(56);
			z-index: 2;

		@include media-breakpoint-up(md) {
			bottom: rem(40);
		}

		@include media-breakpoint-up(lg) {
			bottom: rem(250);
		}
	}

	&__slider-bullet {
		position: relative;
		pointer-events: auto;
		display: block;
		width: rem(16);
		height: rem(16);
		padding: 0;
		font-size: 0;
		line-height: rem(12);
		border: 2px solid transparent;
		text-align: center;
		background-color: transparent;
		cursor: pointer;
		margin-right: rem(20);
		flex-shrink: 0;
		@include defaultTransition(border-color);

		&:after {
			display: inline-block;
			vertical-align: middle;
			width: rem(8);
			height: rem(8);
			background-color: $color-white;
			content: "";
			@include defaultTransition(background-color);
		}

		&::before {
			// увеличение области клика
			content: '';
			position: absolute;
			display: block;
			top: rem(-10);
			right: rem(-10);
			left: rem(-10);
			bottom: rem(-10);
		}

		&.is-active {
			border-color: $color-white;
			background-color: $color-white;
			border-radius: 50%;
			cursor: default;
		}

		&:focus {
			outline: none;
		}
	}

	.button-major-group-wrapper {
		@include media-breakpoint-down(md) {
			background-color: $color-white;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			z-index: 2;
		}
	}
}
