.user-text[data-animate-user-text] {
	>h1, >h2, >h3, >h4, >h5, >h6 {
		opacity: 0;

		&.animate {
			opacity: 1;
			animation: title-animation 2s;
		}

	}

	@keyframes title-animation {
		0%   {
			opacity: 1;
			clip-path: $clip-path-hide;
		}
		100% {
			clip-path: $clip-path-show;
			opacity: 1;
		}
	}

	>p, >ul, >ol {
			@include fade-in-up;
	}
}

.user-text__img {
	&-wrap {
		background-color: $color-dim-gray;
		clip-path: $clip-path-hide;
	}

	img {
		clip-path: $clip-path-hide;
		transition-property: clip-path;
		transition-timing-function: $easing;
		transition-duration: 0s;
	}

	&.animate {
		.user-text__img-wrap {
			transition-duration: 0.5s;
			transition-delay: .5s;
			clip-path: $clip-path-show;
		}

		img {
			transition-duration: 1s;
			transition-delay: 1s;
			clip-path: $clip-path-show;
		}
	}
}
