.ol-list,
.ul-list,
.user-text ol,
.user-text ul {
	padding: 0;
	list-style: none;

	li {
		position: relative;
		padding: 0 0 0 rem(32);
		margin-bottom: rem(24);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(16);
		}

		@include media-breakpoint-up(lg) {
			padding-left: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.ol-list,
.ul-list {
	@include text-default;
	margin: 0;
}

.ul-list,
.user-text ul {
	li {
		&::before {
			content: '';
			position: absolute;
			top: rem(6);
			left: rem(4);
			width: rem(16);
			height: 2px;
			border-radius: 2px;
			background-color: $color-primary;

			@include media-breakpoint-up(md) {
				top: rem(11);
			}

			@include media-breakpoint-up(lg) {
				left: rem(-40);
			}
		}
	}
}

.ol-list,
.user-text ol {
	counter-reset: order;

	li {
		counter-increment: order;

		&::before {
			content: counter(order, decimal-leading-zero);
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			font-size: inherit;
			line-height: inherit;
			color: $color-primary;

			@include media-breakpoint-up(lg) {
				left: rem(-40);
			}
		}
	}
}

