.menu-content {
	position: relative;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	transform: translate3d(-100%, 0, 0);
	background-color: $color-white;
	z-index: 1;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	@at-root .is-loaded & {
		transition: transform .5s $easing;
	}

	@at-root .menu--open & {
		transform: translate3d(0, 0, 0);
	}

	&__grid {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		width: 100vw;
	}

	&__header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: ". . . logo logo logo . . . . search search";
		gap: 1px 1px;
		margin-bottom: rem(48);
		padding-top: rem(24);

		@include media-breakpoint-up(md) {
			padding-top: rem(32);
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas: ". . . logo logo logo logo logo . . . . . . . . links links links links links . search search";
		}

		@include media-breakpoint-up(lg) {
			grid-template-areas: ". . logo logo logo . . . . . . . . . . . . . links links links links search search";
			margin-bottom: rem(80);
		}
	}

	&__logo {
		grid-area: logo;
		position: relative;

		height: rem(32);
		margin-top: rem(-8);

		@include media-breakpoint-up(md) {
			height: rem(60);
			margin-top: 0;
		}

		&-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-img {
			max-height: 100%;
		}
	}

	&__link-list {
		display: none;
		grid-area: links;
		padding: 0;
		margin: 0;
		list-style: none;

		@include media-breakpoint-up(md) {
			display: block;
		}

		a, span {
			color: currentColor;
		}
	}

	&__link-item {
		&:not(:first-child) {
			margin-top: 2px;
		}

		&:not(.menu-content__link-item--main) {
			a, span {
				@include text-default;
			}
		}

		&--main {
			a, span {
				@include h5;
			}
		}
	}

	&__search {
		grid-area: search;
		display: flex;
		justify-content: flex-end;
		padding-right: $col-1-of-12;
		@include media-breakpoint-up(md) {
			padding-right: $col-1-of-24;
		}

		@include media-breakpoint-up(md) {
			padding-top: rem(8);
		}

		a {
			display: inline-block;
			color: currentColor;
			width: rem(20);
			height: rem(20);

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: ". primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav" ". secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav";
		grid-template-rows: auto auto;
		gap: 1px 1px;
		margin-bottom: rem(8);
		flex: 1 0 auto;

		@include media-breakpoint-up(md) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas: ". . . primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav" ". . . secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav";
		}
		@include media-breakpoint-up(lg) {
			grid-template-rows: 1fr;
			grid-template-areas: ". . . primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav . primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub . secondary-nav secondary-nav secondary-nav secondary-nav secondary-nav .";
		}

		&--long-submenu {
			@include media-breakpoint-up(lg) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-template-areas: ". . . primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav primary-nav . primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub primary-sub .";
			}
		}
	}

	&__primary-nav {
		grid-area: primary-nav;
	}

	.primary-nav {
		margin: 0;
		padding: 0;
		list-style: none;

		@include media-breakpoint-only(md) {
			padding-left: calc(100vw / 24 * 2);
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			overflow-y: auto;
			-ms-overflow-style: none; /* Internet Explorer 10+ */
			scrollbar-width: none; /* Firefox */
			&::-webkit-scrollbar {
				display: none; /* Safari and Chrome */
			}
		}

		&.hidden {
			opacity: 0;
			pointer-events: none;
		}

		&__item {
			position: relative;
			padding-right: calc(100% / 24 * 2);
			display: flex;
			justify-content: space-between;
			@include media-breakpoint-up(lg) {
				display: inline-block;
				padding-right: 0;
			}

			&:not(:last-child) {
				a, span {
					padding-bottom: rem(16);
				}

				.primary-nav__item-toggle-button {
					padding-bottom: rem(16);
				}
			}

			a, span {
				display: inline-block;
				@include h3;
				transition: transform $timing $easing,
				opacity $timing $easing;
				color: currentColor;
				text-decoration: none;
				@include media-breakpoint-down(sm) {
					@include h4;
				}
			}

			&-toggle-button {
				border: none;
				background-color: transparent;
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}

		&.active {
			.primary-nav__item:not(.active) {
				a, span {
					opacity: .5;
				}
			}

			.primary-nav__item[data-submenu].active {
				a, span {
					transform: translate3d(rem(16), 0, 0);
				}
			}
		}
	}

	&__primary-sub-nav {
		grid-area: primary-nav;

		@include media-breakpoint-up(lg) {
			grid-area: primary-sub;
		}

		&[data-submenu-long] {
			@include media-breakpoint-up(lg) {
				column-count: 2;
				column-gap: rem(80);
			}
		}
	}

	.primary-sub-nav {
		margin: 0;
		padding: 0;
		opacity: 0;
		list-style: none;
		pointer-events: none;
		@include media-breakpoint-up(lg) {
			margin-top: rem(-32);
		}

		@include media-breakpoint-only(md) {
			padding-left: calc(100vw / 24 * 2);
		}

		@include media-breakpoint-down(md) {
			background-color: $color-white;
			transform: translate3d(100%, 0, 0);
			transition: transform $timing $easing;

			@at-root .menu--open & {
				opacity: 1;
			}
		}

		&.hidden {
			@include media-breakpoint-down(md) {
				height: 0;
			}
		}

		&:not(.hidden) {
			opacity: 1;
			pointer-events: auto;

			@include media-breakpoint-down(md) {
				transform: translate3d(0, 0, 0);
			}
		}

		&__backward {
			position: relative;
			margin-bottom: rem(32);
			padding-left: rem(24);

			@include media-breakpoint-up(md) {
				margin-bottom: rem(40);
				padding-left: 0;
			}

			@include media-breakpoint-up(lg) {
				display: none;
			}

			&-button {
				position: absolute;
				top: 50%;
				left: calc(-100vw / 24 * 1.5);
				transform: translateY(-50%);
				border: none;
				background-color: transparent;
			}

			&-text {
				@include h3;
			}
		}

		&__head {
			a, span {
				display: inline-block;
				@include text-label;
				margin-bottom: rem(32);
				text-decoration: none;
				color: currentColor;
				transition: opacity $timing $easing;

				&:hover {
					opacity: .4;
				}
			}
		}

		&__item {
			@include media-breakpoint-only(md) {
				padding-right: calc(100vw / 24 * 2);
			}

			&:not(:last-child) {
				margin-bottom: rem(16);
			}

			a, span {
				@include h5;
				color: currentColor;
				text-decoration: none;
				transition: opacity $timing $easing;
			}
		}

		&:not(.hidden) {
			.primary-sub-nav__item:hover {
				a, span {
					opacity: .5;
				}
			}
		}
	}

	&__secondary-nav {
		grid-area: secondary-nav;

		@at-root .menu-content__main--long-submenu & {
			@include visually-hidden;
		}
	}

	.secondary-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		@include media-breakpoint-up(lg) {
			margin-top: rem(-32);
		}

		@include media-breakpoint-only(sm) {
			padding-bottom: rem(48);
		}

		@include media-breakpoint-only(md) {
			padding-left: calc(100vw / 24 * 2);
			padding-bottom: rem(96);
		}

		@include media-breakpoint-down(md) {
			padding-top: rem(80);
		}

		&__head {
			a, span {
				display: inline-block;
				@include text-label;
				margin-bottom: rem(32);
				text-decoration: none;
				color: currentColor;
				transition: opacity $timing $easing;

				&:hover {
					opacity: .4;
				}
			}
		}

		&__item {

			@include media-breakpoint-only(md) {
				padding-right: calc(100vw / 24 * 2);
			}

			&:not(:last-child) {
				margin-bottom: rem(16);
			}

			a, span {
				@include h5;
				color: currentColor;
				text-decoration: none;
				transition: opacity $timing $easing;
			}

			&:hover {
				a, span {
					opacity: .4;
				}
			}
		}
	}

	&__footer {
		@include media-breakpoint-only(sm) {
			margin-top: auto;
		}
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: 1px 1px;
		grid-template-areas: ". button-list button-list button-list button-list . . . . . . ." ". social social social social social social social . service-block service-block ." "main-button main-button main-button main-button main-button main-button main-button main-button main-button main-button main-button main-button";

		@include media-breakpoint-up(md) {
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas: ". . . . . social social social social social social . card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links";
		}

		@include media-breakpoint-up(lg) {
			grid-template-areas: ". . . social social social social social social . card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links card-links";
		}
	}

	&__button-list-mob {
		grid-area: button-list;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex-grow: 1;
		flex-shrink: 0;
		margin: 0;
		padding: 0;
		padding-bottom: rem(40);
		list-style: none;

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity $timing $easing;

		&:not(:last-child) {
			margin-bottom: rem(8);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(16);
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(32);
			}
		}

		&:hover {
			span:not(.menu-bar__button-badge) {
				opacity: .4;
			}
		}

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}

		&-badge {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -6px;
			left: -10px;
			pointer-events: none;
			min-width: rem(16);
			height: rem(16);
			padding: 4px;
			background-color: $color-orange;
			color: $color-white;
			border-radius: 1000px;
			font-size: rem(10);
		}

		.icon {
			width: rem(20);
			height: rem(20);
			margin-right: rem(8);

			svg {
				width: 100%;
				height: 100%;
			}
		}

		span:not(.menu-content__button-badge) {
			display: inline-block;
			text-align: center;
			@include text-default;
			color: $color-dim-gray;
			transition: opacity $timing $easing;
		}
	}

	&__service-block-mob {
		grid-area: service-block;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		flex-grow: 0;
		flex-shrink: 1;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&__service-item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		transition: opacity $timing $easing;

		&:not(:last-child) {
			margin-bottom: rem(8);
		}

		&:hover {
			opacity: .4;
		}

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}

		.icon {
			width: rem(20);
			height: rem(20);
			margin-bottom: rem(8);

			svg {
				width: 100%;
				height: 100%;
			}
		}

		span {
			display: inline-block;
			max-width: rem(60);
			text-align: end;
			@include text-small;
		}
	}

	&__main-button {
		grid-area: main-button;

		&-link {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.main-button {
			width: 100%;
			padding: rem(24);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $color-orange;
			color: $color-white;

			.icon {
				width: rem(20);
				height: rem(20);
				margin-right: rem(8);

				svg {
					width: 100%;
					height: 100%;
				}
			}

			span {
				display: inline-block;
				text-align: center;
				@include text-small;
			}
		}

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&__social {
		grid-area: social;
		display: flex;
		align-items: flex-end;
		flex-wrap: nowrap;
		list-style-type: none;
		margin-bottom: 0;
		padding: 0 0 rem(32) 0;
		margin-left: rem(-16);
		margin-right: rem(-16);

		&-item {
			padding: 0 rem(16);
		}

		a {
			display: block;
			width: rem(24);
			height: rem(24);
			color: currentColor;
			transition: color $timing $easing;

			svg {
				width: 100%;
				height: 100%;
			}

			&:hover,
			&:focus {
				outline: none;
				color: $color-orange;
			}
		}
	}

	&__button-major-list {
		grid-area: card-links;
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;

		@include media-breakpoint-down(md) {
			@include visually-hidden;
		}

		.button-major-shell {
			flex-shrink: 0;
			width: 50%;
			padding-left: 2px;

			.button-major {
				width: 100%;
			}
		}
	}

	[data-delay] {
		[data-delay-el] {
			transition-duration: 0s;
			opacity: 0;
			transform: translateY($sal-slide-offset-Y);

			@at-root .menu--open & {
				transition-duration: $sal-animation-duration;
				transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
				transition-property: opacity, transform;
				opacity: 1;
				transform: translateY(0);
			}
		}

		&.menu-content__button-major-list {
			[data-delay-el] {
				transform: translate3d(0, 50%, 0);
				opacity: 0;
				transition-property: transform, opacity;
				transition-duration: .8s;
				transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

				@at-root .menu--open & {
					transform: translate3d(0, 0, 0);
					opacity: 1;
				}
			}
		}
	}

	[data-delay].primary-sub-nav,
	 [data-delay].secondary-nav {
		 [data-delay-el] {
			 transition-duration: $sal-animation-duration;
			 transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
			 transition-property: opacity, transform;
			 opacity: 1;
			 transform: translateY(0);
		 }

		 &.hidden {
			 [data-delay-el] {
				 transition-duration: 0s;
				 opacity: 0;
				 transform: translateY($sal-slide-offset-Y);
			 }
		 }
	 }
}
