.menu-bar {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	pointer-events: none;
	height: 100%;
	width: 0;
	padding-bottom: rem(32);
	background-color: $color-white;
	z-index: 2;

	@include media-breakpoint-up(md) {
		visibility: visible;
		pointer-events: auto;
		width: rem(80);
	}

	&__hamburger {
		width: rem(60);
		height: rem(72);
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: visible;
		pointer-events: auto;
		background-color: $color-white;
		transition: background-color $timing $easing,
		color $timing $easing;

		&--dark {
			background-color: $color-dim-gray;
			color: $color-white;
		}

		@include media-breakpoint-up(md) {
			width: 100%;
			height: rem(112);
		}
	}

	&__main-button {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-orange;
		color: $color-white;
		transition: background-color $timing $easing;

		@include media-breakpoint-up(md) {
			height: rem(456);
		}

		@include media-breakpoint-up(lg) {
			height: rem(320);
		}

		&:hover {
			background-color: $color-orange-middle;
		}

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			font-size: 0;
		}

		&-content {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			pointer-events: none;

			.icon {
				width: rem(24);
				height: rem(24);
				margin-bottom: rem(8);
				transition: opacity $timing $easing;

				svg {
					width: 100%;
					height: 100%;
				}

				&--close {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					opacity: 0;
				}
			}

			span {
				display: inline-block;
				max-width: rem(60);
				text-align: center;
				@include text-small;
			}
		}

		&-link.modal-open ~ &-content {
			.icon {
				opacity: 0;

				&--close {
					opacity: 1;
				}
			}
		}
	}

	&__button-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 0;
		width: 100%;
		margin: 0;
		padding: rem(40) 0;
		list-style: none;
	}

	&__button {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: opacity $timing $easing;

		&:not(:last-child) {
			margin-bottom: rem(32);
		}

		&:hover {
			span:not(.menu-bar__button-badge) {
				color: $color-primary;
			}
			.icon {
				color: $color-primary;
			}
		}

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			font-size: 0;
		}

		&-badge {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -6px;
			right: 8px;
			pointer-events: none;
			min-width: rem(16);
			height: rem(16);
			padding: 4px;
			background-color: $color-orange;
			color: $color-white;
			border-radius: 1000px;
			font-size: rem(10);
		}

		.icon {
			width: rem(20);
			height: rem(20);
			margin-bottom: rem(8);
			transition: color $timing $easing;

			svg {
				width: 100%;
				height: 100%;
			}

			&--close {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
			}
		}

		span:not(.menu-bar__button-badge) {
			display: inline-block;
			max-width: rem(60);
			text-align: center;
			@include text-small;
			color: $color-dim-gray;
			transition: color $timing $easing;
		}

		&-link.modal-open ~ .icon {
			opacity: 0;
		}

		&-link.modal-open ~ .icon--close {
			opacity: 1;
		}
	}

	&__service-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 0;
		flex-shrink: 1;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__service-item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: opacity $timing $easing;

		&:not(:last-child) {
			margin-bottom: rem(8);
		}

		&:hover {
			opacity: .4;
		}

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}

		.icon {
			width: rem(20);
			height: rem(20);
			margin-bottom: rem(8);

			svg {
				width: 100%;
				height: 100%;
			}
		}

		span {
			display: inline-block;
			max-width: rem(60);
			text-align: center;
			@include text-label;
		}
	}
}
