.hero-top-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: rem(72);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". . . logo logo logo . . . . search search";
	gap: 1px 1px;
	padding-top: rem(24);
	z-index: 2;
	$root: &;

	@include media-breakpoint-up(md) {
		height: rem(112);
		padding-top: rem(24);
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: ". . . logo logo logo logo logo . . . . . . . . links links links links links . search search";
	}

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: ". . logo logo logo . . . . . . . . . . . . . links links links links search search";
	}

	&__logo {
		grid-area: logo;
		position: relative;

		height: rem(32);
		margin-top: rem(-4);

		@include media-breakpoint-up(md) {
			height: rem(60);
			margin-top: 0;
		}

		&-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			@include media-breakpoint-only(md) {
				padding-left: rem(25);
			}
		}

		&-img {
			max-height: 100%;

			@at-root .bg-dark & {
				display: none;
			}

			&--white {
				display: none;

				@at-root .bg-dark & {
					display: block;
				}
			}
		}
	}

	&__link-list {
		display: none;
		grid-area: links;
		padding: 0;
		margin: 0;
		list-style: none;

		@include media-breakpoint-up(md) {
			display: block;
		}

		a, span {
			color: currentColor;
		}
	}

	&__link-item {
		&:not(:first-child) {
			margin-top: 2px;
		}

		&:not(.hero-top-bar__link-item--main) {
			a, span {
				@include text-default;
			}
		}

		&--main {
			a, span {
				@include h5;
			}
		}
	}

	&__search {
		grid-area: search;
		display: flex;
		justify-content: flex-end;
		position: relative;
		padding-right: $col-1-of-12;
		@include media-breakpoint-up(md) {
			padding-right: $col-1-of-24;
		}

		&:after {
			content: '';
			position: absolute;
			top: rem(-32);
			bottom: 0;
			left: rem(-22);
			right: 0;
			opacity: 0;
			transform: translate3d(0, 2%, 0);
			transition: opacity $timing $easing,
			transform $timing $easing;
			background-color: $color-primary;
			color: $color-white;
			z-index: -1;
		}

		#{$root}--search-open & {
			&:after {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}

		@include media-breakpoint-up(md) {
			padding-top: rem(8);
		}

		a {
			display: inline-block;
			color: currentColor;
			width: rem(24);
			height: rem(24);

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}
