.block-text-factor {
	width: 100%;

	&__head {
		max-width: rem(840);
		display: inline-block; // fix clip-path animation
		margin-bottom: rem(40);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(56);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			padding-left: $col-1-of-24;
		}

		&-left {
			order: 2;

			@include media-breakpoint-only(md) {
				.factor-list--layout-1 {
					margin-right: 0;
				}
			}

			@include media-breakpoint-up(lg) {
				flex: 0 0 37%;
				max-width: 37%;
				margin-bottom: 0;
				order: 1;

				.factor-list--layout-1 {
					margin-right: 0;
					.factor {
						width: 100%;
						padding-right: 0;
					}
				}
			}

			.factor {
				transition-duration: 2s;
				transition-delay: .3s;
				transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
				transition-property: opacity, transform;
				opacity: 0;
				transform: translateY(40px);
				.in-viewport & {
					opacity: 1;
					transform: none;
				}
				.animate-disabled & {
					opacity: 1;
					transform: none;
				}

				&__text {
					@include media-breakpoint-up(lg) {
						width: rem(180);
					}
				}
			}
		}

		&-right {
			order: 1;
			margin-bottom: rem(40);

			@include media-breakpoint-up(md) {
				margin-bottom: rem(56);
			}

			@include media-breakpoint-up(lg) {
				flex: 1 1 auto;
				padding-right: rem(128);
				padding-top: rem(8);
				order: 2;
			}
		}
	}
}
