.search-result-item {
	width: 100%;
	position: relative;
	transition: background-color $timing $easing;

	&:hover {
		background-color: $color-white;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&__inner {
		padding: rem(48) $col-1-of-12;

		@include media-breakpoint-up(md) {
			padding: rem(48) $col-1-of-24 rem(48) $col-2-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding: rem(48) $col-1-of-24;
		}

		b {
			background-color: $color-primary-light;
		}
	}

	&__path {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		list-style: none;

		&-part {
			position: relative;
			&:not(:last-child) {
				margin-right: rem(40);

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: rem(-28);
					transform: translateY(-50%);
					width: rem(16);
					height: 1px;
					background-color: $color-dim-gray;
				}
			}
			a, span {
				position: relative;
				z-index: 3;
				transition: opacity $timing $easing;
				@include text-label;
				color: $color-dim-gray;
				text-decoration: none;
			}

			a:hover {
				opacity: .4;
			}
		}
	}

	&__head {
		margin-top: rem(24);
		@include h4;
	}

	&__text {
		margin-top: rem(24);
		color: $color-dim-gray;
	}

	&__extra {
		margin-top: rem(24);

		a, span {
			position: relative;
			z-index: 3;
			transition: opacity $timing $easing;
			color: $color-dim-gray;
			text-decoration: none;
			@include text-default;
		}

		a:hover {
			opacity: .4;
		}
	}
}
