<div class="search-result-item" data-animate>
	{% if item.href %}
		<a class="search-result-item__link" href="{{ item.href }}"></a>
	{% endif %}
	<div class="search-result-item__inner">
		{% if item.path %}
			<ul class="search-result-item__path">
				{% for part in item.path %}
					<li class="search-result-item__path-part">
						{% if part.href %}
							<a href="{{ part.href }}">{{ part.text }}</a>
						{% else %}
							<span>{{ part.text }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if item.heading %}
			<h4 class="search-result-item__head h4">{{ item.heading }}</h4>
		{% endif %}
		{% if item.text %}
			<div class="search-result-item__text user-text">{{ item.text|raw }}</div>
		{% endif %}
		{% if item.extra %}
			<div class="search-result-item__extra">
				{% if item.extra.href %}
					<a href="{{ item.extra.href }}">{{ item.extra.text }}</a>
				{% else %}
					<span>{{ item.extra.text }}</span>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
