.breadcrumb {
	$b: #{&};
	font-size: rem(12);
	line-height: 1.33;

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;

		@include media-breakpoint-down(md) {
			overflow-x: auto;
		}

		@include media-breakpoint-up(lg) {
			flex-wrap: wrap;
		}
	}

	&__item {
		position: relative;
		display: block;

		@include media-breakpoint-only(sm) {
			padding-left: rem(18);
			font-size: rem(10);
		}

		@include media-breakpoint-up(md) {
			padding-left: rem(26);
		}

		@include media-breakpoint-up(lg) {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:first-child {
			padding-left: 0;
		}

		+ #{$b}__item {
			&:before {
				content: '';
				position: absolute;
				top: calc(50% - 1px);
				left: rem(5);
				display: block;
				width: rem(10);
				height: 1px;
				line-height: inherit;
				background-color: currentColor;
				opacity: 0.5;
				user-select: none;

				@media (min-width: map_get($grid-breakpoints, lg)) and (max-width: 1099px) {
					top: calc(50% - 2px);
				}

				@include media-breakpoint-up(md) {
					left: rem(8);
					width: rem(10);
				}
			}
		}

		&[aria-current="page"] {
			#{$b}__text {
				opacity: 1;
			}
		}
	}

	&__text {
		display: block;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__link {
		opacity: 0.5;
		text-decoration: none !important;
		cursor: pointer;
		transition: opacity $timing $easing, color $timing $easing;
		color: currentColor;

		&:hover {
			opacity: 1;
			color: $color-primary;
		}
	}
}
