{% if image_adaptive.lazy %}
	<picture>
		{% if image_adaptive.mob %}
			<source media="(max-width: {{ breakpoints.md - 1 }}px)"
					srcset="{{ placeholder?: 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' }}"
					data-srcset="{% for item in image_adaptive.mob.srcset %}{{ item.src }} {{ item.scale }}x{% if loop.index < image_adaptive.mob.srcset|length %}, {% endif %}{% endfor %}">
		{% endif %}
		{% if image_adaptive.tab %}
			<source media="(max-width: {{ breakpoints.lg - 1 }}px)"
					srcset="{{ placeholder?: 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' }}"
					data-srcset="{% for item in image_adaptive.tab.srcset %}{{ item.src }} {{ item.scale }}x{% if loop.index < image_adaptive.tab.srcset|length %}, {% endif %}{% endfor %}">
		{% endif %}
		<img class="image is-lazy{% if image_adaptive.class %} {{ image_adaptive.class }}{% endif %}"
			 src="{{ placeholder?: 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' }}"
			 data-src="{{ image_adaptive.src }}" alt="{{ image_adaptive.alt }}"
			{% if image_adaptive.srcset %} data-srcset="{% for item in image_adaptive.srcset %}{{ item.src }} {{ item.scale }}x{% if loop.index < image_adaptive.srcset|length %}, {% endif %}{% endfor %}" {% endif %}
			{% if image_adaptive.position %} data-position="{{ image_adaptive.position }}"{% endif %}>
	</picture>
{% else %}
	<picture>
		{% if image_adaptive.mob %}
			<source media="(max-width: {{ breakpoints.md - 1 }}px)"
					srcset="{% for item in image_adaptive.mob.srcset %}{{ item.src }} {{ item.scale }}x{% if loop.index < image_adaptive.mob.srcset|length %}, {% endif %}{% endfor %}">
		{% endif %}
		{% if image_adaptive.tab %}
			<source media="(max-width: {{ breakpoints.lg - 1 }}px)"
					srcset="{% for item in image_adaptive.tab.srcset %}{{ item.src }} {{ item.scale }}x{% if loop.index < image_adaptive.tab.srcset|length %}, {% endif %}{% endfor %}">
		{% endif %}
		<img class="image{% if image_adaptive.class %} {{ image_adaptive.class }}{% endif %}"
			 src="{{ image_adaptive.src }}" alt="{{ image_adaptive.alt }}"
			{% if image_adaptive.srcset %} srcset="{% for item in image_adaptive.srcset %}{{ item.src }} {{ item.scale }}x{% if loop.index < image_adaptive.srcset|length %}, {% endif %}{% endfor %}"{% endif %}
			{% if image_adaptive.position %} data-position="{{ image_adaptive.position }}"{% endif %}>
	</picture>
{% endif %}
