<div
	class="feature-list-ol-slider-wrapper{% if slider.background_color %} bg-{{ slider.background_color }}{% else %} bg-white{% endif %}"
	data-slider-list-ol-wrap data-viewport-trigger>
	<div class="feature-list-ol-slider__top">
		{% if slider.heading %}
			<h2 class="feature-list-ol-slider-head h2" data-animate="clip">{{ slider.heading }}</h2>
		{% endif %}
		<div class="feature-list-ol-slider__nav">
			{% if slider.background_color %}
				{% view '@nav-arrows' with {
					"nav_arrows": {
						"theme": "border-white",
						"hover": "light"
					}
				} %}
			{% else %}
				{% view '@nav-arrows' with {
					"nav_arrows": {
						"theme": "border-dark",
						"hover": "light"
					}
				}%}
			{% endif %}
		</div>
	</div>
	<div class="swiper-container feature-list-ol-slider feature-list-ol-slider--layout-{{ slider.layout ?: '1' }}"
		 data-slider-list-ol>
		<div class="swiper-wrapper">
			{% for item in slider.items %}
				<div class="swiper-slide feature-list-ol-slider__item" data-animate="fade-in-up"
					 data-animate-delay="{{ loop.index }}" {{ item.attr }}>
					{% view '^feature-ol' with {
						feature: item
					} %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
