.user-content-story,
.user-content-story-footer {
	@include media-breakpoint-only(sm) {
		padding-left: $col-1-of-12;
		padding-right: $col-1-of-12;
	}

	@include media-breakpoint-only(md) {
		padding-left: $col-4-of-24;
		padding-right: $col-2-of-24;
	}

	@include media-breakpoint-up(lg) {
		padding-left: $col-5-of-24;
		padding-right: $col-6-of-24;
	}
}

.user-content-story {
	@include media-breakpoint-only(sm) {
		margin-top: rem(64);
		margin-bottom: rem(64);
	}

	@include media-breakpoint-only(md) {
		margin-top: rem(96);
		margin-bottom: rem(96);
	}

	@include media-breakpoint-up(lg) {
		margin-top: rem(96);
		margin-bottom: rem(96);
	}

	// Чтобы не вызывтаь конфликты если сниппет будет вставлен в другом месте
	.user-content-story__outward {
		@include media-breakpoint-only(sm) {
			margin-top: rem(64);
			margin-bottom: rem(64);
			margin-left: calc(100vw / 12 * -1);
			margin-right: calc(100vw / 12 * -1);
		}

		@include media-breakpoint-up(md) {
			margin-top: rem(96);
			margin-bottom: rem(96);
		}

		@include media-breakpoint-only(md) {
			margin-right: calc(100vw / 24 * -2);
		}

		@include media-breakpoint-up(lg) {
			margin-left: calc(100vw / 24 * -2);
			margin-right: calc(100vw / 24 * -6);
		}
	}

	&__accent {
		@include media-breakpoint-only(sm) {
			padding-top: rem(64);
			padding-bottom: rem(64);
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}

		@include media-breakpoint-up(md) {
			padding-top: rem(96);
			padding-bottom: rem(96);
			padding-left: $col-2-of-24;
		}

		@include media-breakpoint-only(md) {
			padding-right: $col-2-of-24;
		}

		@include media-breakpoint-up(lg) {
			padding-right: $col-6-of-24;
		}

		&-text {
			@include h4;
		}
	}
}

.user-content-story-footer {
	display: flex;
	flex-wrap: wrap;

	@include media-breakpoint-only(sm) {
		margin-top: rem(64);
		flex-direction: column;
	}

	@include media-breakpoint-up(md) {
		margin-top: rem(96);
		justify-content: space-between;
		align-items: center;
	}

	hr {
		width: 100%;
		margin-top: 0;
		margin-bottom: rem(48);
	}

	&__share {
	}

	&__link {
		@include media-breakpoint-only(sm) {
			margin-top: rem(24);
		}
	}
}
