.footer {
	width: 100%;
	overflow: hidden;
	&__grid {
		padding-top: rem(40);
		padding-bottom: rem(40);
		display: block;

		@include media-breakpoint-down(sm) {
			padding-left: rem(30);
			padding-right: rem(30);
		}
		@include media-breakpoint-up(md) {
			padding-top: rem(96);
			padding-bottom: rem(96);
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: auto auto auto auto;
			grid-template-areas:
				". . . . nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav"
				". . . . l l l l l l l l l . contacts contacts contacts contacts contacts contacts contacts . . ."
				". . . . cookies cookies cookies cookies cookies cookies cookies cookies cookies . contacts contacts contacts contacts contacts contacts contacts . . ."
				". . . . c c c c c c c c c . contacts contacts contacts contacts contacts contacts contacts . . .";
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(80);
			padding-bottom: rem(56);
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: auto auto;
			gap: 0px 0px;
			grid-template-areas:
				". . . . nav nav nav nav nav nav nav nav nav nav nav nav nav nav contacts contacts contacts . . ."
				". . . . c c c c . . . l l l l l l l cookies cookies cookies cookies . .";
		}
	}
	&__nav {
		grid-area: nav;
		list-style-type: none;
		margin-bottom: rem(24);
		padding: 0;
		&-item {
			display: inline-block;
			width: 100%;
			@include media-breakpoint-up(md) {
				padding-right: calc( 100% / 7 );
			}
			margin-bottom: rem(16);
			&--empty {
				pointer-events: none;
				opacity: 0;
				overflow: hidden;
				@include media-breakpoint-down(sm) {
					height: rem(8);
				}
			}
		}
		&-link {
			@include h5;
			color: currentColor;
			@include line-animate-in;

			&:focus {
				outline: none;
			}
		}
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
			columns: 2;
			column-gap: 0;
			&-item {
				margin-bottom: rem(24);
			}
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
	}
	&__contacts {
		grid-area: contacts;
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(40);
		}
	}
	&__copyrights {
		grid-area: c;
		@include media-breakpoint-down(sm) {
			margin-top: rem(8);
		}
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@include media-breakpoint-only(md) {
			padding-top: rem(40);
		}
	}

	&__links {
		grid-area: l;
		list-style-type: none;
		margin: 0;
		padding: 0;
		&-item {
			margin-bottom: rem(6);
		}
		@include media-breakpoint-up(md) {
			display: flex;
			flex-wrap: wrap;
			&-item {
				flex: 0 0 auto;
				&:not(:last-child) {
					margin-right: rem(24);
				}
			}
		}
	}
	&__cookies {
		grid-area: cookies;
	}
	&__social {
		display: flex;
		flex-wrap: nowrap;
		list-style-type: none;
		margin-bottom: 0;
		padding: 0;
		margin-left: rem(-24);
		margin-right: rem(-16);
		&-item {
			padding: 0 rem(16);
		}
		&-link {
			display: block;
			width: rem(24);
			height: rem(24);
			color: currentColor;
			transition: color $timing $easing;
			svg {
				width: 100%;
				height: 100%;
			}
			&:hover,
			&:focus {
				outline: none;
				color: $color-primary;
			}
		}
	}
	&__uplab {
		&-link {
			display: inline-flex;
			align-items: center;
			margin-top: rem(4);
		}

		&-text {
			opacity: .3;
			color: $color-dark;
			@include defaultTransition(opacity);
			@include media-breakpoint-up(lg) {
				font-size: rem(14);
				line-height: 1.6;
			}
		}

		&-logo {
			display: inline-flex;
			padding-left: rem(3);
			width: rem(47);
			height: rem(15);
			@include media-breakpoint-down(sm) {
				width: rem(36);
				height: rem(12);
				padding-left: 0;
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}

		&-link {
			color: currentColor;
			text-decoration: none;

			&:hover {
				text-decoration: none;

				.footer__uplab-text {
					opacity: 1;
				}
			}
		}
	}
}
