<section class="hero-vacancy bg-dark{{ hero.overlay? ' has-overlay' : '' }}" data-viewport-trigger>
	{% view	'^hero-top-bar' %}
	<div class="hero-vacancy__image" data-parallax-hero>
		{% view '@image-adaptive' with {
			image_adaptive: hero.bg
		} %}
	</div>
	<div class="hero-vacancy__wrap">
		<div class="hero-vacancy__inner">
			{% if hero.back_to %}
				<a href="{{ hero.back_to.href }}" class="hero-vacancy__back-to" aria-label="{{ hero.back_to.text }}">
					{% svg 'arrows/arrow-left' %}
				</a>
			{% endif %}
			<div class="hero-vacancy__breadcrumb">
				{% view '^breadcrumb' with {
					breadcrumb: hero.breadcrumb
				} %}
			</div>
			<h1 class="hero-vacancy__heading h3" data-animate="clip">{{ hero.heading }}</h1>
			<div class="hero-vacancy__info">
				<div class="hero-vacancy__actions" data-animate="fade-in-up" data-animate-delay="2">
					{% for action in hero.actions %}
						{% if not action.theme %}
							{% view '@button' with {
								button: action|merge({
									"theme": "primary",
									"hover": "primary"
								})
							} %}
							{% else %}
								{% view '@button' with {
									button: action
								} %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="hero-vacancy__date-salary text-default" data-animate="fade-in-up" data-animate-delay="2"><span class="hero-vacancy__salary h3" data-animate="fade-in-up" data-animate-delay="1">{{ hero.salary }}</span>
				<span class="hero-vacancy__date">{{ hero.date.text }} <span>{{ hero.date.datetime }}</span></span></div>
		</div>
	</div>
	{% view	'&search-bar' %}
</section>
