.hero-vacancy {
	position: relative;
	padding-left: rem(60);
	padding-right: rem(30);
	overflow: hidden;

	@include media-breakpoint-up(md) {
		padding-left: $col-4-of-24;
		padding-right: $col-1-of-24;
	}
	@include media-breakpoint-up(lg) {
		padding-left: $col-3-of-24;
		padding-right: $col-2-of-24;
	}

	&__image {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		@include media-breakpoint-up(md) {
			left: rem($aside-width);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-size: cover;
		}

		@at-root .has-overlay & {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $color-black;
				opacity: .4;
				pointer-events: none;
			}
		}
	}

	&__wrap {
		padding-top: rem(120);
		padding-bottom: rem(40);
		min-height: 100vh;
		position: relative;
		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
		}
		@include media-breakpoint-up(md) {
			min-height: rem(568);
			padding-top: rem(200);
			padding-bottom: rem(32);
		}
		@include media-breakpoint-up(lg) {
			padding-top: rem(160);
			padding-bottom: rem(40);
			min-height: rem(432);
		}
	}

	&__inner {
		position: relative;
		display: flex;
		@include media-breakpoint-down(md) {
			flex-direction: column;
			flex-grow: 1;
		}

		@include media-breakpoint-up(lg) {
			flex-wrap: wrap;
		}
	}

	&__back-to {
		position: absolute;
		left: calc(-100vw / 24 * 1);
		top: rem(36);
		@include media-breakpoint-down(sm) {
			left: rem(-40);
			top: rem(26);
		}
		@include back-to-link;
	}

	&__breadcrumb {
		margin-bottom: rem(8);
		width: 100%;
		flex: 0 0 auto;
	}

	&__heading {
		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			padding-bottom: 1.5em;
			flex: 1 1 auto;
			max-width: 68.42%; // = 13 / (24 - 2 - 3)
			min-height: 6em;
		}
	}

	&__info {
		@include media-breakpoint-down(sm) {
			margin-top: auto;

			.btn {
				width: 100%;
				max-width: rem(240);
			}
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 auto;
			margin-left: auto;
			width: 23.05%; // = 4 / (24 - 2 - 3)
			display: flex;
			flex-direction: column;
			margin-right: rem(-24);

			.btn {
				width: 100%;
			}
		}
	}

	&__salary {
		@include media-breakpoint-only(sm) {
			display: inline-block;
			width: 100%;
			margin-bottom: rem(16);
		}
		@include media-breakpoint-only(md) {
			width: 36.84%; // = 7 / (24 - 4 - 1)
			flex: 0 0 auto;
			margin-right: rem(96);
		}
		@include media-breakpoint-up(lg) {
			margin-right: rem(220);
		}
	}

	&__actions {
		@include media-breakpoint-down(sm) {
			.btn {
				&:not(:last-child) {
					margin-bottom: rem(16);
				}
			}
		}
		@include media-breakpoint-only(md) {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-start;

			.btn:first-child {
				margin-right: auto;
			}
		}
		@include media-breakpoint-up(lg) {
			margin-top: rem(16);

			.btn {
				padding-left: rem(40);
				padding-right: rem(40);
				span {
					white-space: nowrap;
				}
				&:not(:last-child) {
					margin-bottom: rem(32);
				}
			}
		}
	}

	&__date-salary {
		@include media-breakpoint-down(sm) {
			padding-top: rem(8);
			margin-top: auto;
		}
		@include media-breakpoint-only(md) {
			padding-top: rem(32);
			margin-top: auto;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	&__date {
		opacity: .4;
	}

	.search-bar {
		position: absolute;
		left: 0;
		top: rem(72);
		transform: translate3d(-100%, 0, 0);

		@at-root .is-loaded & {
			transition: transform $timing $easing;
		}

		@include media-breakpoint-up(md) {
			top: rem(112);
		}
	}

	.hero-top-bar--search-open ~ .search-bar{
		transform: translate3d(0, 0, 0);
	}
}
