input.parsley-error,
select.parsley-error,
textarea.parsley-error {
	color: $color-error;
	border-color: $color-error;

	& ~ .input-status {
		opacity: 1;
		visibility: visible;
	}
}

input[type='file'].parsley-error {
	& ~ .input-status {
		right: rem(56);
		@include media-breakpoint-down(sm) {
			right: rem(16);
			top: rem(30);
		}
	}
}

.parsley-errors-list {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0.9em;
	line-height: 0.9em;
	opacity: 0;
	color: $color-error;

	@include media-breakpoint-up(md) {
		padding: rem(4) 0 0 0;
	}

	@include media-breakpoint-up(lg) {
		padding: rem(8) 0 0 0;
	}

	@include text-small;

	transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
	opacity: 1;
}
