$plyr-color-main: $color-white;

@import '~plyr/src/sass/plyr.scss';

.plyr {
	$b: #{&};

	// Убираем margin, т.к user-text video
	video {
		margin: 0;
	}

	&__controls__item:first-child.plyr__control[aria-label="Play"] {
		background: $color-primary;
	}

	&__control {
		&--overlaid {
			background-color: $color-primary;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&--stopped {
		// Изначально скрываем контролы

		#{$b}__controls {
			opacity: 0;
			pointer-events: none;
		}
	}

	&:not(#{$b}--stopped) {
		&#{$b}--paused {
			#{$b}__poster {
				pointer-events: none;
			}
		}
	}

	&__poster {
		background-size: cover;
	}
}

