[data-animate="fade-in"] {
	transition-duration: $sal-animation-duration;
	transition-delay: $sal-animation-delay;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-property: opacity;
	opacity: 0;

	@at-root .in-viewport & {
		opacity: 1;
	}

	@at-root .animate-disabled & {
		opacity: 1;
	}
}

[data-animate="fade-in-up"] {
  transition-duration: $sal-animation-duration;
  transition-delay: $sal-animation-delay;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: opacity, transform;
  opacity: 0;
  transform: translateY($sal-slide-offset-Y);

	@at-root .in-viewport &,
	&.in-viewport {
		opacity: 1;
		transform: none;
	}

	@at-root .mfp-ready & {
		opacity: 1;
		transform: none;
	}
	@at-root .animate-disabled & {
		opacity: 1;
		transform: none;
	}
}

[data-animate="fade-in-right"] {
	transition-duration: $sal-animation-duration;
	transition-delay: $sal-animation-delay;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateX(-$sal-slide-offset-Y);

	@at-root .in-viewport &,
	&.in-viewport {
		opacity: 1;
		transform: none;
	}

	@at-root .animate-disabled & {
		opacity: 1;
		transform: none;
	}
}

[data-animate="fade-in-left"] {
	transition-duration: $sal-animation-duration;
	transition-delay: $sal-animation-delay;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-property: opacity, transform;
	opacity: 0;
	transform: translateX($sal-slide-offset-Y);

	@at-root .in-viewport &,
	&.in-viewport {
		opacity: 1;
		transform: none;
	}
	@at-root .animate-disabled & {
		opacity: 1;
		transform: none;
	}
}

[data-animate="clip"] {
	clip-path: $clip-path-hide;
	transition-property: clip-path;
	transition-timing-function: $easing;
	transition-duration: 0s;

	@at-root .in-viewport &,
	&.in-viewport {
		transition-duration: 2s;
		clip-path: $clip-path-show;
	}
	@at-root .mfp-ready & {
		transition-duration: 2s;
		clip-path: $clip-path-show;
	}
	@at-root .animate-disabled & {
		clip-path: none;
	}
}
[data-animate="clip-cubic"] {
	clip-path: $clip-path-hide;
	transition-property: clip-path;
	transition-timing-function: $easeInOutQuint;
	transition-duration: 0s;

	@at-root .in-viewport &,
	&.in-viewport {
		transition-duration: 2s;
		clip-path: $clip-path-show;
	}

	@at-root .swiper-slide-active & {
		transition-duration: 2s;
		clip-path: $clip-path-show;
	}
	@at-root .animate-disabled & {
		clip-path: none;
	}
}
@for $i from 1 through 10 {
	[data-animate-delay="#{$i}"] {
		@at-root .in-viewport & {
			transition-delay: #{$i * 0.3}s !important;
			animation-delay: #{$i * 0.3}s !important;
		}
	}
	[data-animate-time="#{$i}"] {
		@at-root .in-viewport & {
			transition-duration: #{$i * 0.3}s !important;
			animation-duration: #{$i * 0.3}s !important;
		}
	}
}

.card-animation-shell {
	width: 100%;
	display: flex;
	transition-duration: $sal-animation-duration;
	transition-delay: $sal-animation-delay;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-property: opacity, transform;
}
