.pagination-layout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	$root: &;

	@include media-breakpoint-only(sm) {
		flex-wrap: wrap;
	}

	&__button {
		@include media-breakpoint-only(sm) {
			width: 100%;

			.btn {
				width: 100%;
			}
		}
	}

	&__text {
		margin-left: rem(16);
    @include text-default;
		color: $color-dim-gray;

		@include media-breakpoint-only(sm) {
			margin-left: 0;
			#{$root}__button  + & {
				margin-top: rem(48);
			}
		}

		@at-root .search-results-layout & {
			@include media-breakpoint-only(sm) {
				#{$root}__button  + & {
					margin-top: rem(24);
				}
			}
		}
	}
}
