.action-banner {
	position: relative;
	margin-left: $col-3-of-24;;
	padding: rem(80) rem(200) rem(80) rem(120);

	@include media-breakpoint-down(md) {
		margin-left: $col-4-of-24;
		padding: rem(56) rem(64);
	}

	@include media-breakpoint-down(sm) {
		margin-left: 0;
		padding: rem(56) rem(30) rem(64);
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;

		picture {
			display: block;
			height: 140%;
			width: 100%;
			transform: translateY(-15%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-size: cover;
		}

		@at-root .has-overlay & {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $color-graphite;
				opacity: 0.3;
			}
		}
	}

	&__content {
		position: relative;
	}

	&__title {
		max-width: rem(600);
		margin-bottom: rem(32);

		@include media-breakpoint-down(md) {
			max-width: rem(480);
			margin-bottom: rem(24);
		}
	}

	&__text {
		max-width: rem(450);
		line-height: rem(24);

		@include media-breakpoint-down(md) {
			max-width: rem(330);
			margin-bottom: rem(32);
		}

		@include media-breakpoint-down(sm) {
			font-size: rem(12);
			line-height: rem(16);
		}
	}

	&__action {
		position: relative;

		@include media-breakpoint-up(lg) {
			width: rem(260);
		}

		.btn {
			@include media-breakpoint-up(lg) {
				width: 100%;
			}
			padding-left: rem(40);
			padding-right: rem(40);

			span {
				white-space: nowrap;
			}
		}
	}
}
