<div class="section-odds bg-white" data-section-odds-slider-wrap>
	{% if section_odds.heading %}
		<h2 class="section-odds__heading h2">{{ section_odds.heading }}</h2>
	{% endif %}
	<div class="section-odds__nav">
		{% view '@nav-arrows' with {
			"nav_arrows": {
				"theme": "border-dark",
				"hover": "light"
			}
		} %}
	</div>
	<div class="section-odds__slider">
		<div class="swiper-container" data-section-odds-slider>
			<div class="swiper-wrapper">
				{% for slide in section_odds.items %}
					<div class="swiper-slide">
						{% view '^card-feature' with {
							card: slide
						} %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
