<div class="vacancy-detail">
	<div class="vacancy-detail__wrap">
		<div class="vacancy-detail__content">
			<div class="vacancy-detail__left">
				<div class="user-text" data-animate-user-text>
					{% if vacancy_detail.content %}
						{{ vacancy_detail.content }}
					{% endif %}

				</div>
			</div>

			<div class="vacancy-detail__right">
				<div class="vacancy-detail-block">

					<div class="vacancy-detail-block__wrap">

						<div class="vacancy-detail-block__wrap-inner">
							<div class="vacancy-detail-block__grid" data-animate>

								<div class="vacancy-detail-block__head{% if not vacancy_detail.vacancy.salary %} vacancy-detail-block__head--no-salary{% endif %}">
									{% if vacancy_detail.vacancy.title %}
										<div class="vacancy-detail-block__title h5">{{ vacancy_detail.vacancy.title }}</div>
									{% endif %}

									{% if vacancy_detail.vacancy.salary %}
										<div class="vacancy-detail-block__salary h3">{{ vacancy_detail.vacancy.salary }}</div>
									{% endif %}
								</div>

								<div class="vacancy-detail-block__content">
									<div class="vacancy-detail-block__desc">
										{% if vacancy_detail.vacancy.unit %}
											<div class="vacancy-detail-block__desc-unit">{{ vacancy_detail.vacancy.unit }}</div>
										{% endif %}
										{% if vacancy_detail.vacancy.city %}
											<div class="vacancy-detail-block__desc-city">{{ vacancy_detail.vacancy.city }}</div>
										{% endif %}
									</div>

									{% if vacancy_detail.vacancy.buttons %}
										<div class="vacancy-detail-block__buttons">
											{% for button in vacancy_detail.vacancy.buttons %}
												<div class="vacancy-detail-block__button">
													{% view '@button' with {
														button: button
													} %}
												</div>
											{% endfor %}
										</div>
									{% endif %}
								</div>

							</div>

							<div class="vacancy-detail-block__bottom">

								<div class="vacancy-detail-social">
									<div class="vacancy-detail-social__title">{{ vacancy_detail.social.title }}</div>
									<div class="vacancy-detail-social__links">

										{% for item in vacancy_detail.social.items %}
											<a class="vacancy-detail-social__links-el" href="{{ item.href }}" title="{{ item.title }}" {{ item.attr }}>
												{% view '@icon' with {
													icon: item.icon
												} %}
											</a>
										{% endfor %}

									</div>
								</div>

								<div class="vacancy-detail-block__link">
									<a href="{{ vacancy_detail.link.href }}" class="text-default text-link-disappear">{{ vacancy_detail.link.text }}</a>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</div>
