.vacancy-detail {
	$root: &;
	&__wrap {
		padding-top: rem(96);
		padding-left: $col-4-of-24;

		@include media-breakpoint-down(md) {
			padding-right: $col-2-of-24;
		}

		@include media-breakpoint-down(sm) {
			padding-top: rem(64);
			padding-left: $col-1-of-12;
			padding-right: $col-1-of-12;
		}
	}

	&__content {
		display: flex;

		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	&__left {
		padding-right: rem(120);
		padding-bottom: rem(112);
		@include media-breakpoint-up(lg) {
			flex: 1 1 auto;
		}

		@include media-breakpoint-down(md) {
			padding-right: 0;
			padding-bottom: rem(96);
		}

		@include media-breakpoint-down(sm) {
			padding-bottom: rem(64);
		}
	}

	&__right {
		margin-top: rem(32);

		@include media-breakpoint-down(md) {
			margin-left: calc(-100vw / 24 * 4);
			margin-right: calc(-100vw / 24 * 2);
		}

		@include media-breakpoint-down(sm) {
			margin-left: calc(-100vw / 12 * 1);
			margin-right: calc(-100vw / 12 * 1);
		}
	}

	&-block {
		width: rem(420);
		height: 100%;
		background-color: $color-white;

		@include media-breakpoint-down(md) {
			width: 100%;
			margin-top: 0;
		}

		&__wrap-inner {
			padding: rem(56) rem(60);

			@include media-breakpoint-down(md) {
				padding: rem(48) $col-1-of-24 rem(48) $col-4-of-24;
			}

			@include media-breakpoint-down(sm) {
				padding: rem(48) $col-1-of-12 rem(48) $col-1-of-12;
			}
		}

		&__grid {
			//display: grid;

			@include media-breakpoint-down(md) {
				grid-template-rows: auto auto;
				grid-template-columns: rem(350) auto;
				column-gap: rem(32);
			}

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		&__head {
			display: block;

			@include media-breakpoint-down(md) {
				display: flex;
			}

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		&__content {
			display: block;

			@include media-breakpoint-down(md) {
				display: flex;
			}

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		&__title {
			margin-bottom: rem(40);
			line-height: rem(32);

			@at-root .vacancy-detail-block__head--no-salary & {
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(16);
				}
			}

			@include media-breakpoint-down(md) {
				margin-bottom: rem(32);
				width: rem(382);
				padding-right: rem(32);
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: rem(16);
				line-height: rem(24);
				width: 100%;
			}
		}

		&__salary {
			margin-bottom: rem(48);

			@include media-breakpoint-down(md) {
				margin-bottom: 0;
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: rem(32);
				font-size: rem(16);
			}
		}

		&__desc {
			margin-bottom: rem(64);
			line-height: rem(24);

			@include media-breakpoint-down(md) {
				margin-bottom: 0;
				width: rem(300);
				padding-right: rem(32);
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				margin-bottom: rem(32);
				font-size: rem(12);
				line-height: rem(16);
			}

			&-unit {
				margin-bottom: rem(8);
			}

			&-city {
				color: $color-dim-gray;
			}
		}

		&__bottom {
			margin-top: rem(40);

			@include media-breakpoint-down(md) {
				display: flex;
				margin-top: rem(32);
			}

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		&__link {
			margin-top: rem(48);

			@include media-breakpoint-down(md) {
				margin-top: 0;
				margin-left: rem(75);
			}

			@include media-breakpoint-down(sm) {
				margin-top: rem(24);
				margin-left: 0;
			}
		}

		&__button {
			&:not(:last-child) {
				margin-bottom: rem(24);
			}
			.btn {
				width: 100%;
			}
		}
	}

	&-social {
		display: flex;
		align-items: center;

		&__title {
			position: relative;
			padding-right: rem(86);
			@include text-default;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: rem(14);
				margin-top: -1px;
				width: rem(56);
				height: 2px;
				background-color: $color-gray;
			}
		}

		&__links {
			display: flex;

			&-el {
				margin-right: rem(32);
				color: $color-graphite;
				@include defaultTransition(color);

				&:hover {
					color: $color-orange;
				}

				@include last-row(1) {
					margin-right: 0;
				}
			}
		}
	}
}
