<form class="search-form" action="{{ form.action }}" method="{{ form.method }}">
	<div class="search-form__input-wrap">
		<input class="search-form__input" type="text" placeholder="{{ form.input.placeholder }}" name="{{ form.input.name }}"
			{% if form.input.attr %} {{ form.input.attr }}{% endif %} autocomplete="off">
	</div>

	<button type="{{ form.button.type ?: 'submit' }}" class="search-form__button"{% if form.button.attr %} {{ form.button.attr }}{% endif %}>
		{% view	'@icon' with {
			icon: {
				name: "arrows/arrow-right",
				size: "small"
			}
		}%}
	</button>
</form>
