<div class="card-publication{% if card.image %} card-publication--image{% endif %}">
	{% if card.href %}
		<a href="{{ card.href }}" class="card-publication__link"></a>
	{% endif %}
	{% if card.image %}
		<div class="card-publication__image">
			{% view '@image' with {
				image: card.image
			} %}
		</div>
	{% endif %}
	<div class="card-publication__top">
		{% if card.tags %}
			{% for tag in card.tags %}
				{% if tag.href %}
					<a href="{{ tag.href }}" class="card-publication__tag">{{ tag.text|raw }}</a>
				{% else %}
					<div class="card-publication__tag">{{ tag.text|raw }}</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="card-publication__bottom">
		{% if card.text %}
			<div class="card-publication__text">{{ card.text|raw }}</div>
		{% endif %}
		{% if card.notes %}
			{% for note in card.notes %}
				<div class="card-publication__note">{{ note.text|raw }}</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
