.card-direction {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: rem(272);
	padding: rem(32) rem(30);
	text-decoration: none !important;
	background-color: $color-white;
	color: $color-dark;
	@include text-default;
	@include defaultTransition(transform, box-shadow);

	@include media-breakpoint-only(md) {
		height: rem(224);
		padding: rem(40) rem(30) rem(40) rem(32);
	}

	@include media-breakpoint-up(lg) {
		height: rem(256);
		padding: rem(56) rem(48) rem(56) rem(60);
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		max-width: rem(150);

		@include media-breakpoint-up(md) {
			max-width: rem(176);
		}
	}

	&__icon {
		flex-shrink: 0;
	}

	&__notes {
		width: 100%;

		&-item {
			color: $color-primary;

			&:not(:last-child) {
				margin-right: rem(8);
			}
		}
	}
}

a.card-direction,
.card-direction {
	&:focus {
		outline: none;
	}

	&:focus,
	&:hover {
		@include card-translate-hover;
	}
}
