<div
	class="modal mfp-hide mfp-with-anim{% if modal.class %} {{ modal.class }}{% endif %}{% if modal.attr %} {{ modal.attr }}{% endif %}"
	id="{{ modal.id }}">
	<button type="button" class="mfp-close"{% if modal.close_title %} title={{ modal.close_title }}{% endif %}>
		{% svg '24/close' %}
	</button>
	<div class="modal__content bg-{{ modal.bg?:'white' }}">
		{% if modal.heading %}
			<h3 class="modal__head h3" data-animate="clip">{{ modal.heading }}<span></span></h3>
		{% endif %}
		<div data-animate="fade-in-up">
			{% if modal.form %}
				{% view '&form-layout' with {
					form: modal.form
				} %}
			{% endif %}
			{% if modal.text %}
				<div class="modal__text user-text">{{ modal.text|raw }}</div>
			{% endif %}
		</div>
	</div>
</div>
