.search-result-item-list {
	margin: 0;
	padding: 0;
	list-style: none;
	@at-root .wrap-l-1.wrap-r-1 & {
		@include media-breakpoint-down(md) {
			margin-left: calc(100vw / 24 * -2);
			margin-right: calc(100vw / 24 * -1);
		}

		@include media-breakpoint-down(sm) {
			margin: 0 calc(100vw / 12 * -1);
		}
	}
	.search-result-item-wrap {
		position: relative;
		&:not(:first-child) {
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				z-index: -1;
				height: 1px;
				background-color: rgba($color-dim-gray, .2);
				transition: opacity $timing $easing;
			}
		}

		&:last-child {
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				z-index: -1;
				height: 1px;
				background-color: rgba($color-dim-gray, .2);
				transition: opacity $timing $easing;
			}
		}

		&:hover:after {
			opacity: 0;
		}
	}

	.search-result-item-wrap:hover + .search-result-item-wrap:before {
		opacity: 0;
	}
}
