<ul class="search-result-item-list">
	{% for item in list.items %}
		<li class="search-result-item-wrap" data-animate>
			{% view '^search-result-item' with {
				item: item
			} %}
		</li>
	{% endfor %}
</ul>
