.block-text-factor-image {
	width: 100%;
	$root: &;

	&__content {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			align-items: stretch;
		}

		&-left {
			display: flex;
			flex-direction: column;
			padding: rem(48) $col-1-of-12 rem(64) $col-1-of-12;

			@include media-breakpoint-up(md) {
				padding: rem(72) $col-2-of-24 rem(56) $col-4-of-24;
			}

			@include media-breakpoint-up(lg) {
				flex-direction: row;
				padding: rem(88) $col-1-of-24 rem(96) $col-3-of-24;
			}

			.user-text {
				flex-grow: 1;
				flex-shrink: 1;

				@include media-breakpoint-only(sm) {
					margin-bottom: rem(24);
				}

				@include media-breakpoint-only(md) {
					max-width: rem(450);
					margin-bottom: rem(28);
				}

				ul {
					li {
						margin-bottom: rem(8);
					}
				}

			}

			#{$root}__factor-list {
				flex-shrink: 0;
				flex-grow: 0;

				@include media-breakpoint-up(md) {
					margin-left: $col-1-of-24;
				}

				@include media-breakpoint-up(lg) {
					width: $col-5-of-24;
					padding-top: rem(16);
				}

				.factor-list--layout-2 {
					margin-top: 0;
					margin-bottom: 0;
					@include media-breakpoint-up(md) {
						.factor {
							padding-top: rem(28);
							padding-bottom: rem(28);
						}
					}
					@include media-breakpoint-up(lg) {
						margin: rem(-56) 0;
						.factor {
							width: 100%;
							padding-top: rem(56);
							padding-bottom: rem(56);
						}
					}

				}
			}
		}

		&-right {
			flex-shrink: 0;
			flex-grow: 0;
			position: relative;
			width: 100%;
			height: rem(250);
			@include animate-image();


			@include media-breakpoint-only(md) {
				padding-left: rem(80);
			}

			@include media-breakpoint-up(lg) {
				width: $col-7-of-24;
				height: auto;
			}

			picture {
				position: absolute;
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					background-size: cover;
				}
			}
		}
	}
}
