<div class="feature-ol">
	<div class="feature-ol__inner pt-32">
		<div class="feature-ol__content">
			{% if feature.heading %}
				<div class="feature-ol__head h5">{{ feature.heading }}</div>
			{% endif %}
			{% if feature.content.text %}
				<div class="feature-ol__text">{{ feature.content.text }}</div>
			{% endif %}
			{% if feature.content.link_list %}
				<div class="feature-ol__link-list">
					{% for item in feature.content.link_list %}
						<a href="{{ item.href }}" class="text-link-disappear" {% if item.attr %}{{ item.attr }}{% endif %}>{{ item.text }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>
